@import '../../styles/index.scss';

$content-side-padding: 35px;

.postContent {
	&Title {
		color: $secondary;
		font-size: $nr-xxl-fontsize;
		line-height: 1.13;
		margin-bottom: 10px;
		font-weight: 900;
	}
	&Description {
		color: $text;
		font-size: $nr-sm-fontsize;
		line-height: 1.5;
		font-weight: 600;
		margin-bottom: 30px;
	}
	&Heading {
		color: $primary;
		font-size: 1.5rem;
		line-height: 1.6rem;
		letter-spacing: 0.05rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}
	&Story {
		margin-bottom: 2.5rem;
		font-family: Sanchez;
		color: rgba(0,0,0,0.8);
		font-size: 1.25rem;
		line-height: 1.9rem;
		letter-spacing: 0.05rem;
	}
	&Content {
		color: $text;
		font-size: $nr-sm-fontsize;
		line-height: 1.5;
		padding: 0 $content-side-padding;
	}
}

.controls {
	z-index: 105;
	position: fixed;
	font-size: 1rem;

	&Arrow {
		display: block;
		max-width: 10px;
		height: 10px;
		background-color: black;
		margin: 0 auto;
		margin-top: -5px;
		transform: rotate(45deg);
	}

	&Choices {
		display: flex;
		justify-content: space-between;
		background-color: black;
		border-radius: 3px;
		padding: 10px;
		min-width: 125px;
	}

	&Buttons {
		color: white;
		transition: 0.2s;
		line-height: 0.8rem;

		&:hover {
			transition: 0.2s;
			color: lighten($primary, 15%);
		}
	}
}
