@import '../../styles/index.scss';

.postContent {
	&Title {
		color: #4D4D4D;
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 2rem;
		margin-bottom: $header-spacing;
	}
	&Heading {
		color: $primary;
		font-size: 1.5rem;
		line-height: 1.6rem;
		letter-spacing: 0.05rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}
	&Story {
		margin-bottom: 2.5rem;
		font-family: Sanchez, serif;
		color: rgba(0,0,0,0.8);
		font-size: 1.25rem;
		line-height: 1.9rem;
		letter-spacing: 0.05rem;
	}
}

.controls {
	z-index: 105;
	position: fixed;
	font-size: 1rem;

	&Arrow {
		display: block;
		max-width: 10px;
		height: 10px;
		background-color: black;
		margin: -5px auto 0;
		transform: rotate(45deg);
	}

	&Choices {
		display: flex;
		justify-content: space-between;
		background-color: black;
		border-radius: 3px;
		padding: 10px;
		min-width: 125px;
	}

	&Buttons {
		color: white;
		transition: 0.2s;
		line-height: 0.8rem;

		&:hover {
			transition: 0.2s;
			color: lighten($primary, 15%);
		}
	}
}
// Default styling class of inline toolbar which needs to get overridden
div[class^='tukdd6b']{
	@include mobile-all-portrait {
		display: none;
	}
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1em;
}
