@import '../../styles/index.scss';

$toast-padding: 10px;
$toast-line-width: 6px;

.toast {
	padding: $toast-padding;
	margin: -$toast-padding;
	border-left: $toast-line-width solid;

	&Root {
		margin-top: $header-height;
	}

	&Header {
		display: flex;
	}

	&Icon {
		margin-right: 10px;
	}

	&Text {
		margin-bottom: 5px;
	}

	&Title {
		font-weight: bold;
	}

	&Success {
		background-color: #E5F9EE;
		border-color: #1BCB5E;

		.toastTitle, .toastIcon {
			color: #0D7637;
		}
	}

	&Warning {
		background-color: #FCF8E7;
		border-color: #E5BA33;

		.toastTitle, .toastIcon {
			color: #E5BA33;
		}
	}

	&Error {
		background-color: #FDE5E5;
		border-color: #EB0012;

		.toastTitle, .toastIcon {
			color: #EB0012;
		}
	}

	&General {
		background-color: #EBEFFE;
		border-color: #3F6BFA;

		.toastTitle, .toastIcon {
			display: none;
		}
	}
}
