@import '../../styles/index.scss';

$tooltip-hover: #EFEFEF;
$height: 36px;
$width: 36px;

.draftJsButton {
	background-color: #fbfbfb;
	padding: 5px;
	color: #888;
	font-size: 18px;
	border: 0;
	vertical-align: bottom;
	height: $height;
	width: $width;

	&:hover, &:focus {
		background: $tooltip-hover;
		outline: 0;
	}

	> figure {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		max-height: $height;
		max-width: $width;
		> img {
			max-height: inherit;
			max-width: inherit;
			width: 34px;
			height: 36px;
		}
	}
}
