@import '../../styles/index.scss';

.navigation {
    transition: 1s;
    width: 0px;
    max-width: 0vw;
    overflow-x: hidden;
    background-color: $dark;
    height: 100vh;
    z-index: 2;
    position: fixed;
}

.filler {
    // Added everything necessary to hide and
    // disable the header for maximum ensurance
    opacity: 0 !important;
    visibility: hidden !important;
    position: static !important;
    pointer-events: none !important;
    z-index: 0 !important;
    display: inline-block;
}

.sNavOpen {
    @include mobile-all {
        transition: 1s;
        width: 325px;
        max-width: 75vw;
    }
}

.menu {
    width: 325px;
    max-width: 75vw;
    &Ul {
        list-style-type: none;
        text-transform: uppercase;
        font-size: 1em;
    }
    &Item {
        font-weight: bold;
        letter-spacing: 1px;
        padding: $header-spacing;
        transition: 0.2s;
        cursor: pointer;
    }
    &Link {
        color: white;
        text-decoration: none;
    }
}
