@import '../../styles/index.scss';

.navigation {
    transition: 1s;
    width: 0px;
    max-width: 0vw;
    overflow-x: hidden;
    background-color: $background-darker;
    height: 100vh;
}

.filler {
    // Added everything necessary to hide and
    // disable the header for maximum ensurance
    opacity: 0 !important;
    visibility: hidden !important;
    position: static !important;
    pointer-events: none !important;
    z-index: 0 !important;
}

.sNavOpen {
    @include mobile-all {
        transition: 1s;
        width: 325px;
        max-width: 75vw;
    }
}

.menu {
    justify-content: center;
    &Ul {
        list-style-type: none;
        text-transform: uppercase;
    }
    &Item {
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 0 $header-spacing $header-spacing $header-spacing;
        &:first-child {
            padding: $header-spacing;
        }
    }
    &Link {
        color: white;
        text-decoration: none;
    }
}
