@import '../../styles/index.scss';

.paragraph {
	font-family: $sidefont;
	color: rgba(0,0,0,0.8);
	font-size: 1.25rem;
	letter-spacing: 0.05rem;
	border: none;
	background-color: transparent;
	resize: none;
	max-height: 1000px;
	width: 100%;
}
