@import '../../styles/index.scss';

.header {
	display: flex;
	flex-direction: row;
	@include noselect;
	top: 0;
	background-color: $background;
	height: $header-height;
	width: 100%;

	@include mobile-all-portrait {
		position: fixed;
		z-index: 3;
	}

	&Content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $header-spacing;
		width: 100%;
		margin: 0 auto;
		width: $wrapper-width;

		@include mobile-all-portrait {
			width: 100%;
		}

		@include mobile-sm {
			justify-content: center;
		}
	}

	&Wrap {
		@include desktop-tablet-sm {
			transition: 1s;
			left: $navigation-width;
			top: 0;
			width: calc(100% - #{$navigation-width});
			position: fixed;
			z-index: 100;
		}
	}
}

.navigationMobile {
	transition: 0.2s;
	position: fixed;
	top: $header-height;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
	@include mobile-sm {
		align-items: stretch;
		overflow: hidden;
	}

	> .overlay {
		position: fixed;
		top: $header-height;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.35);
	}

	&.hide {
		pointer-events: none;
		opacity: 0;

		.navigationMobileBox > * {
			pointer-events: none;
		}
	}

	&Box {
		width: 100%;
		z-index: 1;
		pointer-events: none;

		> * {
			pointer-events: initial;
		}
	}
}

.sNavOpen {
	transition: 1s;
	left: $navigation-width-expanded;
}

.button {
	margin: 0 $nr-sm-fontsize;
	margin-right: 0;
}

.hamburger {
	margin-left: $header-spacing;
	display: flex;
}

.noScrollbar {
	@include mobile-sm {
		overflow: hidden;
	}
}
