@import '../../styles/index.scss';

.header {
	display: flex;
	flex-direction: row;
	@include noselect;
	top: 0;
	background-color: $background;
	height: $header-height;
	pointer-events: auto;
	width: 100%;

	@include mobile-all-portrait {
		position: fixed;
		z-index: 3;
	}

	&Content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $header-spacing;
		width: 100%;
		margin: 0 auto;
		width: $wrapper-width;

		@include mobile-all-portrait {
			width: 100%;
		}

		@include mobile-sm {
			justify-content: center;
		}
	}

	&Wrap {
		@include desktop-tablet-sm {
			transition: 1s;
			left: $navigation-width;
			top: 0;
			width: calc(100% - #{$navigation-width});
			position: fixed;
			z-index: 100;
		}
	}

	.navigationMobile {
		transition: 0.2s;
		background-color: rgba(0, 0, 0, 0.3);
		position: fixed;
		top: $header-height;
		bottom: 0;
		width: 100%;

		&.hide {
			pointer-events: none;
			opacity: 0;
		}
	}
}

.sNavOpen {
	transition: 1s;
	left: $navigation-width-expanded;
}

.button {
	margin: 0 $nr-sm-fontsize;
	margin-right: 0;
}

.hamburger {
	margin-left: $header-spacing;
	display: flex;
}
