@import '../../styles/index.scss';

@keyframes load {
	0% {
		transform: rotate(0);
		-moz-box-shadow: 0 0 0 0 rgba(255,64,64, 0.5);
		box-shadow: 0 0 0 0 rgba(255,64,64, 0.5);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(255,64,64, 0);
		box-shadow: 0 0 0 10px rgba(255,64,64, 0);
	}
	100% {
		transform: rotate(360deg);
		-moz-box-shadow: 0 0 0 0 rgba(255,64,64, 0);
		box-shadow: 0 0 0 0 rgba(255,64,64, 0);
	}
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $header-spacing * 2;

	@include mobile-all {
		padding: $header-spacing * 1.5;
	}
}

.loader {
	display: inline-block;
	margin: 0 auto;
	animation: load 1.5s infinite;
	border-radius: 100%;

	&Image {
		border-radius: 100%;
		height: 65px;
		width: 65px;
		background-image: url('../../static/icons/loader.png');
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: cover;

		@include mobile-all {
			height: 40px;
			width: 40px;
		}
	}
}
