@import '../../styles/index.scss';

.profile {
	@include noselect;
	position: relative;
	display: flex;
	background-color: $darker;
	border-bottom: 1px solid black;

	&Picture {
		background-size: cover;
		background-position: center;
		width: 75px;
		height: 75px;
		position: relative;
		cursor: pointer;
	}
	
	&Info {
		position: relative;
		background-color: #363636;
		width: calc(100% - 75px);
		display: flex;
		flex-direction: column;
		justify-content: center;

		&Wrapper {
			padding: 0 $header-spacing;
		}

		&UserName {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: $background;
			font-size: 1em;
		}

		&UserRole {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: 0.75em;
			color: $primary;
		}
	}
}
