@import '../../styles/index.scss';

.postContent {
	&Heading {
		color: $primary;
		font-size: 1.5rem;
		line-height: 1.6rem;
		letter-spacing: 0.05rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}
	&Paragraph {
		margin-bottom: 2.5rem;
		font-family: Sanchez;
		color: rgba(0,0,0,0.8);
		font-size: 1.25rem;
		line-height: 1.9rem;
		letter-spacing: 0.05rem;
	}
}

.controls {
	border-radius: 3px;
	transition: 0.2s;
	height: 0;
	overflow: hidden;
	display: flex;
	padding-right: 10px;
	align-items: center;
	background-color: $darker;
	color: white;
	font-weight: normal;
	font-size: 0.8rem;
	text-transform: uppercase;

	&On {
		transition: 0.2s;
		height: 30px;
	}

	&Buttons {
		transition: 0.2s;
		line-height: 0.8rem;
		margin-bottom: -2px;
		margin-left: 10px;
		border-bottom: 2px solid transparent;

		&:hover {
			transition: 0.2s;
			border-bottom: 2px solid white;
		}
	}
}
