@import '../../styles/index.scss';

.paragraph {
	color: rgba(0,0,0,0.8) !important;
	font-size: 1.25rem !important;
	letter-spacing: 0.05rem !important;
	margin-bottom: 3rem 1!important;
}

.heading {
	color: $primary;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.postContent {
	img {
		max-height: 20vh;
		max-width: 100%;
		margin: 0 auto;
	}
}
