@import '../../styles/index.scss';

.postsBlockWrapper {
	margin: 0 110px;

	.postsBlock {
		display: flex;
		max-height: 449px;

		.large {
			max-width: 788px;
			max-height: inherit;
		}

		.small {
			display: flex;
			flex-direction: column;
			width: 348px;
			height: 212px;
			justify-content: space-between;
		}

		&Post {
			margin: 0 12.5px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				margin: 12.5px 0;
			}
		}
	}

	.LRR {

	}
}
