@import '../../styles/index.scss';

.postsBlock {
	display: grid;
	margin: $grid-block-gap 0;
	grid-gap: $grid-block-gap;
	grid-template-columns: repeat(2, calc(50% - #{$grid-block-gap} / 2));

	.large1 {
		grid-area: l1;
	}

	.large2 {
		grid-area: l2;
	}

	.small1 {
		grid-area: s1;
	}

	.small2 {
		grid-area: s2;
	}

	.small3 {
		grid-area: s3;
	}

	.small4 {
		grid-area: s4;
	}

	.small {
		display: grid;
		max-height: 100%;
		grid-template-rows: auto;
		grid-template-columns: 1fr;
		grid-gap: $grid-block-gap;
		max-width: 100%;
	}

	@include mobile-all() {
		grid-template-columns: 1fr;
		grid-template-rows: auto;

		.small {
			grid-template-rows: 1fr;
			grid-template-columns: auto;
		}
	}
}

.longBlock {
	grid-template-areas: 'l1 s1' 's3 s4' 's2 l2';

	@include mobile-all() {
		grid-template-areas: 'l1' 's1' 's3' 's4' 's2' 'l2';
	}
}

.shortBlock {
	grid-template-areas: 'l1 s1' 's2 l2';

	@include mobile-all() {
		grid-template-areas: 'l1' 's1' 's2' 'l2';
	}
}
