@import '../../styles/index.scss';

.postsBlockWrapper {
	margin-top: 25px;

	.postsBlock {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 449px;
		grid-gap: 25px;
		height: fit-content;

		.small {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr;
			grid-gap: 25px;
			max-width: 100%;
		}
	}

	.LRR {

	}
}
