@import '../../styles/index.scss';

@keyframes load {
	0% {
		height: 75px;
		width: 75px;
		background-color: rgba(0, 0, 0, 0);
		border: 15px solid rgb(255, 0, 0);
	}
	50% {
		height: 50px;
		width: 50px;
		background-color: rgba(255, 0, 0, 0.25);
		border: 15px solid rgb(11, 82, 122);
		transform: rotate(45deg);
	}
	100% {
		height: 75px;
		width: 75px;
		border: 15px solid rgb(255, 0, 0);
		background-color: rgba(0, 0, 0, 0);
		transform: rotate(90deg);
	}
}

.contact {
	display: flex;
	align-items: flex-end;
	font-size: 1em;
	height: 35vh;
	margin-bottom: $header-spacing;
	padding: $header-spacing * 2;
	text-transform: capitalize;
	color: white;
	overflow: hidden;
	&Text {
		display: block;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&s {
		position: static;
		min-height: 300vh;
	}
}

.post {
	list-style: none
}

.loader {
	border-radius: 20%;
	margin: 10vh auto 10vh auto;
	border: 10px solid $primary;
	animation: load 1.5s infinite;
}
