@import '../../styles/index.scss';

$post-padding-top: $header-spacing * 3;

.likePostWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.post {
	&Side {
		display: flex;
		flex-direction: column;
		position: fixed;
		left: 83px;
		padding-top: $post-padding-top;

		&Author {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			&Header {
				color: $secondary;
				font-size: $nr-sm-fontsize;
				margin-bottom: 10px;
			}
		}
	}

	&Wrapper {
		width: 100%;
		max-width: $post-wrapper-width;
		margin: 0 auto;
		padding-top: $post-padding-top;
		white-space: normal;

		&Top {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 30px;
		}

		&Author {
			margin: 0 15px 0 0;
			display: none;
		}

		&Thumbnail {
			margin-bottom: 40px;
		}

		&Content {
			margin-bottom: 60px;
		}
	}

	&ActionButtons {
		display: flex;
		justify-content: space-between;
		margin-bottom: 80px;

		&Left {
			display: flex;
			align-items: center;
		}

		&Right {
			display: flex;
			align-items: center;
		}

		&Publish {
			&Button {
				@include noselect;
				display: inline-block;
				padding: 10px 40px;
				font-weight: bold;
				font-size: 1rem;
				letter-spacing: 1px;
				transition: all .2s ease-in-out;
				cursor: pointer;
				list-style-type: none;
				margin-right: 15px;

				&Secondary {
					padding: 10px 20px;
				}
			}
			&ed {
				background-color: rgba(0,0,0,0.25);
			}
		}

		&Delete {
			cursor: pointer;
			font-size: 1.2rem;
			padding: 8px 0;
			color: $text-dark;
			border-radius: 100%;

			&:hover {
				color: $primary;
			}
		}

		&Mobile {
			display: none;
			align-items: center;

			&Like {
				margin-left: 20px;
			}
		}
	}

	.toolTip {
		@include tooltip();
	}
}

@include mobile-tablet() {
	.post {
		&Side {
			display: none;
		}

		&Wrapper {
			&Author {
				display: initial;
			}
		}

		&ActionButtons {
			&Mobile {
				display: flex;
			}
		}
	}
}

@include mobile-all {
	.post {
		&Wrapper {
			padding: 0 16px;

			&Top {

			}
		}
	}
}
