# Node Modules
/node_modules

# Distribution 
dist/

# Storybook static files
/storybook-static

# Environment file
.env

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor/
node_modules/
npm-debug.log

.env

package-lock.json
/package-lock.json

#VScode
*.code-workspace
.vscode

# nodejs
backend/node_modules
backend/ormconfig.js
backend/ormconfig.json
backend/ormconfig.docker.json
backend/app/public/profile/banner/*
backend/app/public/profile/avatar/*
!backend/app/public/profile/banner/.gitkeep
!backend/app/public/profile/avatar/.gitkeep
