# Node Modules
/node_modules

# Distribution 
/dist

# Storybook static files
/storybook-static

# PHP storm files
/.idea

# Environment file
.env

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
passport/composer.lock
package-lock.json
/package-lock.json

#VScode
/*.code-workspace

# nodejs
backend/node_modules
backend/ormconfig.js