{
  "rules": {
    "indentation": "tab",
    "block-no-empty": null,
    "color-no-invalid-hex": true,
    "max-empty-lines": 1,
    "no-missing-end-of-source-newline": true,
    "at-rule-name-space-after": "always",
    "at-rule-semicolon-space-before": "never",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "length-zero-no-unit": true,
    "no-extra-semicolons": true,
    "no-invalid-double-slash-comments": true,
    "no-unknown-animations": true,
    "selector-list-comma-newline-after": "always-multi-line",
    "selector-list-comma-space-after": "always-single-line",
    "selector-list-comma-space-before": "never",
    "value-list-comma-space-after": "always",
    "value-list-comma-space-before": "never",
    "string-quotes": "single"
  }
}
