@import '../../styles/index.scss';

@keyframes load {
	0% {
		transform: rotate(0);
		transform: rotate(0);
		-moz-box-shadow: 0 0 0 0 rgba($primary, 0.5);
		-moz-box-shadow: 0 0 0 0 rgba($primary, 0.5);
		box-shadow: 0 0 0 0 rgba($primary, 0.5);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba($primary, 0);
		-moz-box-shadow: 0 0 0 10px rgba($primary, 0);
		box-shadow: 0 0 0 10px rgba($primary, 0);
		box-shadow: 0 0 0 10px rgba($primary, 0);
	}
	100% {
		transform: rotate(360deg);
		-moz-box-shadow: 0 0 0 0 rgba($primary, 0);
		box-shadow: 0 0 0 0 rgba($primary, 0);
	}
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $header-spacing * 2;

	@include mobile-all {
		padding: $header-spacing * 1.5;
	}
}

.loader {
	display: flex;
	margin: 0 auto;
	animation: load 1.5s ease-in-out infinite;
	border-radius: 100%;
	pointer-events: none;

	&Icon {
		border-radius: 100%;
		width: 40px !important;
		height: 40px;
		font-size: 26px;
		padding: 7px;
		background-color: $primary;
		color: white;
	}
}
