@import '../../styles/index.scss';

.post {
	list-style: none
}

.posts {
	position: static;
	min-height: calc(100vh / 3);

	> li {
		list-style: none;
	}

	> li:not(.fullWidth) {
		max-width: $wrapper-width;
		padding: 0 20px;
		margin: 0 auto;
	}
}
