@import '../../styles/index.scss';
@import '../../styles/variables.scss';

.postViews {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: $secondary;
	opacity: .8;

	.postViewsText {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		height: 100%;
		vertical-align: middle;
		font-weight: 300;
	}

	.viewIcon {
		vertical-align: middle;
		font-size: .8em;
		margin-right: 10px;
		display: flex;
		align-items: center;
	}

	&Small {
		font-size: $nr-xs-fontsize;
	}

	&Large {
		font-size: $nr-sm-fontsize;
	}
}
