@import '../../styles/index.scss';
@import '../../styles/variables.scss';

.postViews {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	justify-content: flex-start;

	.postViewsText {
		height: fit-content;
		color: $nav-items;
		margin-right: 8px;
	}

	.viewIcon {
		width: 16px;
		height: 16px;
	}
}
