@import '../../styles/index.scss';

.button {
    margin: 0 $nr-sm-fontsize;
    margin-right: 0;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    background-color: $primary;
    color: white;
    text-align: center;
}