@import '../../styles/index.scss';

.profileWrapper {
	display: flex;
	justify-content: center;
	width: $wrapper-width;
	margin: 0 auto;
	padding: $header-spacing;

	.profileContentWrapper {
		width: 100%;
	}
	
	@include mobile-all-portrait {
		display: block;
	}
}
