@import '../../styles/index.scss';

.infoWrapper {
	padding: 20px;
	background-color: rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	display: flex;
	flex-direction: row;
}

.tempFollowerIndicator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	color: #808080;

	p {
		margin-left: 5px;
	}

	svg {
		font-size: 1.2em
	}
}
