@import './variables.scss';
@import './breakpoints.scss';

@mixin noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@mixin transition-ease ($amount) {
	-webkit-transition: all $amount ease-in-out;
	-ms-transition: all $amount ease-in-out;
	-o-transition: all $amount ease-in-out;
	transition: all $amount ease-in-out;
}

@mixin primary-gradient () {
	background: rgba($primary,1);
	background: -moz-linear-gradient(left, rgba($primary,1) 0%, rgba($primary,1) 27%, rgba($primary,1) 52%, rgba($primary,1) 73%, rgba($primary,1) 100%);
	background: -webkit-linear-gradient(left, rgba($primary,1) 0%, rgba($primary,1) 27%, rgba($primary,1) 52%, rgba($primary,1) 73%, rgba($primary,1) 100%);
	background: -o-linear-gradient(left, rgba($primary,1) 0%, rgba($primary,1) 27%, rgba($primary,1) 52%, rgba($primary,1) 73%, rgba($primary,1) 100%);
	background: -ms-linear-gradient(left, rgba($primary,1) 0%, rgba($primary,1) 27%, rgba($primary,1) 52%, rgba($primary,1) 73%, rgba($primary,1) 100%);
	background: linear-gradient(to right, rgba($primary,1) 0%, rgba($primary,1) 27%, rgba($primary,1) 52%, rgba($primary,1) 73%, rgba($primary,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$primary, endColorstr=$primary, GradientType=1 );
}

@mixin box-shadow () {
	box-shadow: 0 0 ($header-spacing * 2) rgba(0,0,0,0.2);
}

@mixin text-shadow () {
	text-shadow: 0 0 ($header-spacing / 2) rgba(0,0,0,0.5);
}

@mixin load () {
	@keyframes load {
		0% {
			transform: rotate(0);
			-moz-box-shadow: 0 0 0 0 rgba($primary, 0.5);
			box-shadow: 0 0 0 0 rgba($primary, 0.5);
		}
		70% {
			-moz-box-shadow: 0 0 0 10px rgba($primary, 0);
			box-shadow: 0 0 0 10px rgba($primary, 0);
		}
		100% {
			transform: rotate(360deg);
			-moz-box-shadow: 0 0 0 0 rgba($primary, 0);
			box-shadow: 0 0 0 0 rgba($primary, 0);
		}
	}

	animation: load 1.5s infinite;
}

@mixin pulse ($color) {
	@keyframes pulse {
		0% {
			-moz-box-shadow: 0 0 0 0 rgba($color, 0.5);
			box-shadow: 0 0 0 0 rgba($color, 0.5);
		}
		70% {
			-moz-box-shadow: 0 0 0 10px rgba($color, 0);
			box-shadow: 0 0 0 10px rgba($color, 0);
		}
		100% {
			-moz-box-shadow: 0 0 0 0 rgba($color, 0);
			box-shadow: 0 0 0 0 rgba($color, 0);
		}
	}

	animation: pulse 1s;
}

@mixin fade-in () {
	@keyframes fade-in {
		from {
			opacity: 0;
		} to {
			opacity: 1;
		}
	}

	animation: fade-in 1s;
}

@mixin pop-up () {
	position: fixed;
	background-color: white;
	border-radius: 10px;
	z-index: 102;
	width: 500px;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: hidden;

	@include mobile-tablet {
		width: 70%;
	}

	@include mobile-all {
		width: 90%;
	}
}

@mixin bookmark () {
	position: absolute;
	right: 0;
	cursor: pointer;
	color: white;
	opacity: 0.5;
	align-items: center;
	font-size: 1.3em;
	transition: 0.2s linear;

	&:hover {
		color: $primary;
		opacity: 1;
	}
}

@mixin fancy-underline ($thickness: 2px, $offset: 2px) {
	position: absolute;
	bottom: $offset;
	left: 0;
	height: $thickness;
	transition: 0.2s;
	width: 0%;
	background-color: rgba($primary, 0.5);
	border-radius: 100vh;
}

@mixin tooltip {
	padding: 0;
}
