// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:500,700');
@import url('https://fonts.googleapis.com/css?family=Sanchez');

// Colors
$primary: #ff4040; // Changes color of most elements, including logo
$primary-light: #ff9d9d;
$light: #EFEFEF;
// updated values
$textdark: #2b2b2b;
$dark: #4e4e4e;
$darker: #2b2b2b;
$darkest: #1f1f1f;
$raw-text-color: black;
$nav-items: #808080;
$background: #F4F4F4;
$statistic-color: #333333;
$background-trans: rgba(244, 244, 244, 0.95);
$background-trans-less: rgba(244, 244, 244, 0.6);
$background-darker: #dedede;
$success: #59df83;
$failure: $primary;
$footer-color: #9b9b9b;
$link-footer-color: $footer-color;
$prompt-background: white;
$prompt-border-color: whitesmoke;
$input-text-color: #7f7f7f;
$gray: gray;
$mobile-text-login: #fff;

// Fonts
$mainfont: Poppins;
$sidefont: Sanchez;
$navigationfont: Poppins;
$secondaryfont: arial;

// Sizes
$wrapper-width: 1000px;
$logo-font-size: 2.5rem;
$logo-font-size-sm: 2.5rem;
$header-height: 80px;
$navigation-width: 0px; /* stylelint-disable-line length-zero-no-unit */ // Normally 50px
$navigation-width-expanded: 0px; /* stylelint-disable-line length-zero-no-unit */ // Normally 400px

// Spacing
$header-spacing: 20px;

// Responsive
$xs-fontsize: 1vw;
$sm-fontsize: 2vw;
$md-fontsize: 3vw;
$lg-fontsize: 4vw;
$xl-fontsize: 5vw;
$xxl-fontsize: 6vw;

// Not responsive
$nr-xs-fontsize: 12px;
$nr-sm-fontsize: 16px;
$nr-md-fontsize: 24px;
$nr-lg-fontsize: 30px;
$nr-xl-fontsize: 36px;
$nr-xxl-fontsize: 48px;
$nr-logo-fontsize: 94px;

// Breakpoints
$medium-max: 749px;
$medium-min: 750px;
$full-percentage: 100%;

// Grid
$grid-block-size: 25vh;
$grid-block-gap: 20px;
