@import '../../styles/index.scss';

.menu {
	position: relative;

	@include mobile-sm {
		display: none;
	}
	
	&Ul {
		display: flex;
		list-style-type: none;
		font-size: $nr-sm-fontsize;
		text-transform: capitalize;
		align-items: center;
		letter-spacing: 1px;
		font-weight: bold;
		

		> :last-child {
			margin-left: $header-spacing * 2;
		}
	}

	&Item {
		text-decoration: none;
		color: rgba(0,0,0,0.6);
		cursor: pointer;

		&:hover {
			transition: 0.2s;
			color: rgba(0,0,0,1);
		}
	}
}

.avatarWrapper {
	display: flex;
	align-items: center;

	&Image {
		display: inherit;
		width: 40px;
		height: 40px;
		border-radius: 100%;
	}

	&Dropdown {
		transition: 0.2s;

		&Icon {
			cursor: pointer;
			font-size: 0.8em;
			margin-left: $header-spacing / 2;
		}

		> ul {
			background-color: $background-trans;
			position: absolute;
			top: $header-height - $header-spacing;
			right: 0;
			min-width: 100%;
			list-style-type: none;
			border-radius: 0 0 3px 3px;
			transition: 0.2s;
			opacity: 0;

			&.open {
				opacity: 1;
				pointer-events: none;
			}

			> li {
				margin: -1px;
				padding: $header-spacing * 0.75;
				text-align: right;

				&:not(:last-child) {
					border-bottom: 1px solid rgba(0,0,0,0.1);
				}
			}
		}
	}
}
