@import '../../styles/index.scss';

.menu {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	position: relative;
	
	&Ul {
		width: 100%;
		max-width: $header-side-element-width;
		display: flex;
		list-style-type: none;
		font-size: $nr-sm-fontsize;
		text-transform: capitalize;
		align-items: center;
		justify-content: flex-end;
		letter-spacing: 1px;
		font-weight: bold;

		> :not(:last-child) {
			margin-right: $header-spacing;
		}
	}

	&Item {
		text-decoration: none;
		color: rgba(0,0,0,0.6);
		cursor: pointer;

		&:hover {
			transition: 0.2s;
			color: rgba(0,0,0,1);
		}
	}

	.goBack {
		display: flex;
		align-items: center;
		color: rgba($secondary, 0.75);

		&Wrapper {
			width: 100%;
			max-width: $header-side-element-width;
		}

		> p {
			margin-left: $header-spacing;
			position: relative;

			&::first-letter {
				text-transform: capitalize;
			}

			> span {
				&:first-child {
					@include mobile-sm {
						display: none;
					}
				}

				&.underline {
					position: absolute;
					transition: 0.2s;
					left: 0;
					bottom: 0;
					height: 1px;
					width: 0;
					background-color: rgba($secondary, 0.5);
				}
			}
		}

		> .goBackIcon {
			font-size: 0.8em;
		}

		&:hover > p > span {
			width: 100%;
		}
	}
}

.avatarWrapper {
	display: flex;
	align-items: center;

	&Image {
		display: inherit;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		
		@include mobile-all-portrait {
			position: absolute;
			left: 50%;
			top: -($header-spacing * 0.45);
		}
	}

	&Dropdown {
		transition: 0.2s;

		@include mobile-all-portrait {
			display: none;
		}

		&Icon {
			cursor: pointer;
			font-size: 0.8em;
			margin-left: $header-spacing / 2;
		}

		> ul {
			background-color: $background-trans;
			position: absolute;
			top: $header-height - $header-spacing;
			right: 0;
			min-width: 100%;
			list-style-type: none;
			border-radius: 0 0 3px 3px;
			transition: 0.2s;
			opacity: 0;
			pointer-events: none;

			&.open {
				opacity: 1;
				pointer-events: initial;
			}

			> li {
				margin: -1px;
				padding: $header-spacing * 0.75;
				text-align: right;

				&:not(:last-child) {
					border-bottom: 1px solid rgba(0,0,0,0.1);
				}
			}
		}
	}
}

.logo {
	@include mobile-all-portrait {
		display: none !important;
	}
}

.newPost {
	> :last-child {
		display: none;
		color: $secondary;
		margin-top: 2px;
		font-size: 1.2em;
		line-height: 1.2em;
	}

	@include mobile-all-portrait {
		> :first-child {
			display: none;
		}

		> :last-child {
			display: initial;
		}
	}
}
