@import '../../styles/index.scss';

.edit {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include noselect;
	text-transform: uppercase;
	color: gray;
	opacity: 0.5;
	font-size: 1rem;
	font-weight: bold;

	&ing {
		color: black;
		opacity: 1;

		> .remove {
			display: initial;
		}

		> .icon {
			background-color: black;
		}
	}
}

.remove {
	cursor: pointer;
	display: none;
	transition: 0.2s;
	opacity: 0.5;
	&:hover {
		transition: 0.2s;
		opacity: 1;
		color: $primary;
	}
}

.icon {
	background-color: gray;
	color: white;
	border-radius: 30px;
	font-size: 1rem;
	padding: 4px;
}
