@import '../../styles/index.scss';

.smallPost {
	display: flex;
	height: 212px;

	&Thumbnail {
		position: relative;
		max-width: 348px;

		&Overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba($secondary, .9) 10%, rgba($secondary, .6) 30%, rgba($secondary, 0) 50%);
		}

		&Content {
			display: flex;
			position: absolute;
			justify-content: space-between;
			bottom: 0;
			width: 100%;
			padding: 0 14px 17px;
			pointer-events: none;

			& > * {
				pointer-events: initial;
			}

			&Category {
				margin-top: auto;
				color: $primary;
				display: flex;
				align-items: center;
				font-size: 1.2em;

				&Bullet {
					display: flex;
					align-items: center;

					&Icon {
						margin-top: 2px;
						font-size: .4em;
						margin-right: 7px;
					}
				}

				&:hover {
					color: $primary-light;
				}
			}

			&Bookmark {
				margin-top: auto;
				transform: translateY(2px);
				cursor: pointer;
				display: flex;
				color: $dark-light;
				align-items: center;
				font-size: 1.5em;

				&:hover {
					color: $primary;
				}
			}
		}

		&Link {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&Content {
		width: 100%;
		margin-left: 1.7%;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		&Title {
			margin-top: 9px;
			font-size: 1.6em;
			line-height: 1.2em;
			white-space: pre-line;
			color: $secondary;
		}

		&Description {
			white-space: pre-line;
			color: $text;
			font-size: 1.2em;
			line-height: 1.3em;
			overflow: hidden;
			margin: 10px 0 0;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-o-ellipsis-lastline: 3;
			-webkit-box-orient: vertical;
		}

		&Bottom {
			margin-top: auto;
			margin-bottom: 12px;
			display: flex;
			justify-content: space-between;
			overflow: hidden;

			&Info {
				display: flex;
				align-items: center;
				font-size: 1.2em;
				font-weight: 300;
				flex-wrap: wrap;

				& > * {
					margin-right: 12px;
				}

				&Text {
					color: $primary-lighter;
					display: flex;

					&ReadingTime {
						font-size: .7em;
						margin-right: 6px;
						display: flex;
						align-items: center;
					}
				}

				&Bullet {
					color: $light-gray;
					opacity: .3;
				}
			}

			&Button {
				color: $primary-light;
				font-size: 1.4em;

				&Icon {
					font-size: .7em;
				}
			}
		}
	}

	@include mobile-tablet() {
		.smallPost {
			&Content {
				&Title {
					font-size: 1.4em;
				}
			}
		}
	}

	@include mobile-all() {
		max-height: 145px;

		.smallPost {
			&Thumbnail {
				max-height: 145px;
				max-width: 255px;

				&Content {
					padding: 0 10px 7px;

					&Category {
						&Bullet {
							&Icon {
								margin-right: 10px;
							}
						}
					}

					&Bookmark {
						font-size: .9em;
						transform: translateY(-3px);
					}
				}

				img {
					max-width: 100%;
					min-width: initial;
				}
			}

			&Content {
				&Title {
					margin-top: 0;
				}

				&Description {
					display: none;
				}

				&Bottom {
					margin-bottom: 2px;

					&Info {
						font-size: 1.2em;

						& > * {
							margin-right: 10px;
						}

						&Text {
							color: $text;
						}

						&Bullet {
							opacity: .9;
						}
					}
				}
			}
		}
	}
}
