@import '../../styles/index.scss';

$small-height-desktop: 158px;
$small-width-desktop: 260px;
$small-height-tablet: 127px;
$small-width-tablet: 210px;
$post-padding: 10px;

.smallPost {
	display: flex;
	height: $small-height-desktop;

	&Thumbnail {
		position: relative;
		max-width: $small-width-desktop;
		min-width: $small-width-desktop;

		&Overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba($secondary, .9) 10%, rgba($secondary, .6) 30%, rgba($secondary, 0) 50%);
		}

		&Content {
			display: flex;
			position: absolute;
			justify-content: space-between;
			bottom: 0;
			width: 100%;
			padding: 0 $post-padding calc(#{$post-padding} + 2px);
			pointer-events: none;

			& > * {
				pointer-events: initial;
			}

			&Category {
				margin-top: auto;
				color: $primary;
				display: flex;
				align-items: center;
				font-size: $nr-xs-fontsize;

				&Bullet {
					display: flex;
					align-items: center;

					&Icon {
						margin-top: 2px;
						font-size: .4em;
						margin-right: 7px;
					}
				}

				&:hover {
					text-decoration: underline;
				}
			}

			&Bookmark {
				margin-top: auto;
				transform: translateY(2px);
				cursor: pointer;
				display: flex;
				color: $dark-light;
				align-items: center;
				font-size: 1.1em;

				&:hover {
					color: $primary;
				}
			}
		}

		&Link {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&Content {
		width: 100%;
		margin-left: 1.7%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		padding: $post-padding 0;

		&Title {
			font-size: $nr-md-fontsize;
			line-height: 22px;
			white-space: pre-line;
			color: $secondary;
		}

		&Description {
			white-space: pre-line;
			color: $text;
			font-size: $nr-xs-fontsize;
			line-height: 1.29;
			overflow: hidden;
			margin-top: $post-padding;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-o-ellipsis-lastline: 3;
			-webkit-box-orient: vertical;
		}

		&Bottom {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			overflow: hidden;

			&Info {
				display: flex;
				align-items: center;
				font-size: $nr-xs-fontsize;
				font-weight: 300;
				flex-wrap: wrap;

				& > * {
					margin-right: $post-padding;
				}

				&Text {
					color: $primary-lighter;
					display: flex;

					&ReadingTime {
						font-size: .7em;
						margin-right: 6px;
						display: flex;
						align-items: center;
						transform: translateY(1px);
					}
				}

				&Bullet {
					color: $light-gray;
					opacity: .3;
				}
			}

			&Button {
				color: $primary-light;

				&Icon {
					font-size: .8em;
				}
			}
		}
	}

	@include mobile-tablet() {
		height: $small-height-tablet;

		.smallPost {
			&Thumbnail {
				max-width: $small-width-tablet;
				min-width: $small-width-tablet;

				&Content {
					&Category {
						font-size: $nr-xxs-fontsize;
					}
				}
			}

			&Content {
				&Title {
					//font-size: 1.4em;
				}

				&Description {
					margin-top: calc(#{$post-padding} / 2)
				}

				&Bottom {
					&Info {
						font-size: $nr-xxs-fontsize;

						&Text {
							&ReadingTime {
								font-size: .8em;
							}
						}
					}

					&Button {
						&Icon {
							font-size: .7em;
						}
					}
				}
			}
		}
	}

	@include mobile-all() {
		max-height: 145px;

		.smallPost {
			&Thumbnail {
				max-height: 145px;
				max-width: 255px;

				&Content {
					padding: 0 10px 7px;

					&Category {
						&Bullet {
							&Icon {
								margin-right: 10px;
							}
						}
					}

					&Bookmark {
						//font-size: .9em;
						transform: translateY(-3px);
					}
				}

				img {
					max-width: 100%;
					min-width: initial;
				}
			}

			&Content {
				&Title {
					margin-top: 0;
				}

				&Description {
					display: none;
				}

				&Bottom {
					margin-bottom: 2px;

					&Info {
						//font-size: 1.2em;

						& > * {
							margin-right: 10px;
						}

						&Text {
							color: $text;
						}

						&Bullet {
							opacity: .9;
						}
					}
				}
			}
		}
	}
}
