@import '../../styles/index.scss';

$hamburger-height: 19px;
$hamburger-width: 22px;

.hamburger {
	cursor: pointer;
	display: flex;
	align-items: center;
	height: $hamburger-height;
	flex-direction: column;
	justify-content: space-between;

	&Line{
		width: $hamburger-width;
		height: 3px;
		background-color: $secondary;
		display: block;
		border-radius: 2px;
		transition: 0.2s;
	}

	&:hover{
		cursor: pointer;
	}

	&.hActive &Line:nth-child(2){
		opacity: 0;
	}

	&.hActive &Line:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}

	&.hActive &Line:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
}
