@import '../../styles/index.scss';

.prompt {
	background-color: white;
	border: 1px solid whitesmoke;
	border-radius: 13px;
	max-width: 450px;
	width: 100%;
	padding: 50px 60px;
	position: relative;
	
	@include mobile-all {
		width: 99vw;
		height: 85vh;
	}
	
	@include mobile {
		height: 85vh;
	}
}

.logo {
	@include mobile-all {
		background-image: url('../../static/commercial/logo.svg');
		width: 90%;
		height: 90%;
		background-repeat: no-repeat;
		background-size: cover;
		border: none;
		opacity: 0.2;
		position: absolute;
		right: 0;
	}
}

.text {
	text-align: center;
	font-weight: bold;
	font-size: 33px;
	line-height: 33px;

	@include mobile-all {
		font-size: 2.3em;
	}
}

.input {
	font-size: 14px;
	color: gray;
	border: none;
	border-bottom: 1px solid gray;
	z-index: 1;
	cursor: text;

	@include mobile-all {
		width: 80%;
		font-size: 20px;
		align-self: center;
	}
}

.label {
	color: gray;
	font-size: 12px;

	&:first-child {
		margin-top: 0;
	}
	display: block;
	align-self: flex-start;

	@include mobile-all {
		font-size: 30px;
	}
}

.form {
	justify-content: space-between;
	display: flex;
	flex-direction: column;

	&Wrapper {
		padding-top: 35px;
		justify-content: space-between;
		display: flex;
	}

	@include mobile-all {
		margin-top: 40px;
		text-align: center;
	}
}

.submit {
	cursor: pointer;
	font-family: $mainfont, $sidefont;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 10px 30px;
	border: none;
	border-radius: 48px;
	color: white;
	background-color: $primary;

	@include mobile-all {
		width: 100%;
		height: 20vh;
		font-size: 30px;
		border-radius: 30px;
		margin-top: 6vh;
	}
}

.image {
	display: inline-block;
	width: 110px;
	height: calc(110px * 1.65);
	border-radius: 10px;
	background-repeat: no-repeat;
	background-image: url('../../static/login/phone.svg');
	// background-size: cover;
	// background-color: $primary;

	@include mobile {
		// position: static;
		// display: flex;
		// align-self: center;
		// margin: 0 auto 10px;
		// width: 127px;
		// height: 40%;
		// transform: rotate(90deg);
		// margin: -20px auto;
		display: none;
	}

	@include mobile-xs {
		display: none;
	}
}
