@import '../../styles/index.scss';

.prompt {
	background-color: white;
	border: 1px solid whitesmoke;
	border-radius: 13px;
	max-width: 450px;
	width: 100%;
	padding: 50px 60px;
	position: relative;
	
	@include mobile-all {
		background-color: white;
		border: none;
		width: 100%;
		height: 100%;
		padding: auto;
	}
}

.text {
	text-align: center;
	font-weight: bold;
	font-size: 2.3rem;
	line-height: 33px;

	@include mobile-all {
		font-size: 1.8em;
	}
}

.input {
	font-size: 14px;
	color: gray;
	border: none;
	border-bottom: 1px solid gray;
	z-index: 1;
	cursor: text;

	@include mobile-all {
		font-size: 1.2rem;
		display: flex;
		align-self: center;
		justify-content: center;
		padding: 0;
		margin: 0;
	}
}

.label {
	color: gray;
	font-size: 12px;

	&:first-child {
		margin-top: 0;
	}
	display: block;

	@include mobile-all {
		font-size: 1.5rem;
		// display: none;
	}
}

.form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	&Wrapper {
		padding-top: 35px;
		justify-content: space-around;
		display: flex;
	}

	@include mobile-all {
		margin-top: 0;
		justify-content: center;
		// text-align: center;
	}
}

.submit {
	cursor: pointer;
	font-family: $mainfont, $sidefont;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 10px 30px;
	border: none;
	border-radius: 48px;
	color: white;
	background-color: $primary;

	@include mobile-all {
		width: 70%;
		height: 70%;
		font-size: 1.5rem;
		border-radius: 30px;
		margin-top: 30px;

		&_wrapper {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}
}

.image {
	display: inline-block;
	width: 110px;
	height: calc(110px * 1.65);
	border-radius: 10px;
	background-repeat: no-repeat;
	background-image: url('../../static/login/phone.svg');

	@include mobile-all {
		display: none;
	}
}
