@import '../../styles/index.scss';

.prompt {
	background-color: white;
	border: 1px solid whitesmoke;
	border-radius: 13px;
	width: 100%;
	max-width: 450px;
	padding: 50px 60px;
	
	@include mobile-all-portrait {
		display: flex;
		background-color: $primary;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border: none;
		border-radius: none;
		height: 100%;
		max-width: 100%; 
		padding: 0;
	}
}

.text {
	text-align: center;
	font-weight: bold;
	font-size: 2.3rem;
	line-height: 33px;

	@include mobile-all-portrait {
		word-break: break-all;
		font-size: 2rem;
		color: #fff;
		font-weight: bold;
	}
}

.input {
	font-size: 1rem;
	color: gray;
	border: none;
	border-bottom: 1px solid gray;
	z-index: 1;
	cursor: text;

	@include mobile-all-portrait {
		display: flex;
		background: $primary;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.4);
		height: 40px;
		width: 100%;
		max-width: 300px;
	}
}

.label {
	display: block;
	color: gray;
	font-size: 12px;

	&:first-child {
		width: 100%;
	}

	@include mobile-all-portrait {
		font-size: 1rem;
		color: rgba(0, 0, 0, 0.4);
		font-weight: bold;
	}
}

.form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;

	@include mobile-all-portrait {
		margin-top: 0;
		justify-content: center;
		padding: $header-spacing;
		max-width: 350px;
	}

	&Wrapper {
		margin-top: 15px;
		justify-content: space-around;
		display: flex;
		width: 100%;
	}

	&Group {
		margin-top: 25px;

		@include mobile-all {
			margin-top: 40px;
		}
	}
}

.submit {
	cursor: pointer;
	font-family: $mainfont, $sidefont;
	font-size: 0.75rem;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 10px 30px;
	border: none;
	border-radius: 48px;
	color: white;
	background-color: $primary;
	margin-top: 30px;
	width: fit-content;

	@include mobile-all-portrait {
		font-size: 1rem;
		border-radius: 30px;
		background-color: $darker;
		padding: 10px 45px;
		
		&_wrapper {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
		}
	}
}

.image {
	display: inline-block;
	min-width: 110px;
	margin-top: auto;
	height: calc(110px * 1.65);
	border-radius: 10px;
	margin-left: 30px;
	background-repeat: no-repeat;
	background-image: url('../../static/login/phone.svg');

	@include mobile-all-portrait {
		display: none;
	}
}
