@import '../../styles/index.scss';

.prompt {
	background-color: white;
	border: 1px solid whitesmoke;
	border-radius: 13px;
	width: 450px;
	height: 320px;
	position: relative;
	padding-top: 5px;
	
	@include mobile-all {
		width: 99vw;
		height: 85vh;
	}
	
	@include mobile {
		height: 85vh;
	}
}

.text {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 20px;

	@include mobile-all {
		font-size: 2.3em;
	}
}

.username {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.password {
	margin: -17px 0 5px;
}

.inputs {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@include mobile-all{
		text-align: center;
	}
}

.input {
	font-size: 14px;
	color: gray;
	border: none;
	border-bottom: 1px solid gray;
	z-index: 1;
	margin-bottom: 10px;
	cursor: text;

	@include mobile-all {
		width: 80%;
		font-size: 20px;
		align-self: center;
	}
}

.label {
	color: gray;
	font-size: 12px;
	z-index: 2;
	margin-top: 20px;
	display: block;
	align-self: flex-start;

	@include mobile-all {
		font-size: 30px;
	}
}

.form {
	padding: 0 40px 0 40px;
	margin-top: 20px;

	@include mobile-all {
		margin-top: 40px;
		text-align: center;
	}
}

.submit {
	width: 90px;
	height: 32px;
	padding: 0 10px 0 10px;
	border: none;
	border-radius: 48px;
	color: white;
	background-color: $primary;
	margin-top: 15px;

	@include mobile-all {
		width: 100%;
		height: 20vh;
		font-size: 30px;
		border-radius: 30px;
		margin-top: 6vh;
	}
}

.image {
	width: 120px;
	height: 57%;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 60px 41px 0;
	background-image: url('../../static/login/phone.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	@include mobile {
		// position: static;
		// display: flex;
		// align-self: center;
		// margin: 0 auto 10px;
		// width: 127px;
		// height: 40%;
		// transform: rotate(90deg);
		// margin: -20px auto;
		display: none;
	}

	@include mobile-xs {
		display: none;
	}
}
