@import '../../styles/index.scss';

.comment {
	margin-bottom: 20px;

	&__body {
		display: flex;
		border-radius: 8px;
		padding: 30px;
		box-shadow: 0 5px 10px -2px rgba(0, 0, 0, .1);
		background-color: white;
		max-width: $wrapper-width;
	}

	&__avatar {
		display: flex;
		flex-direction: column;
		align-items: center;

		&Picture {
			border-radius: 100%;
			background-size: cover;
			background-position: center;
			width: 85px;
			height: 85px;
			position: relative;
			cursor: pointer;
		}

		&Badge {
			position: relative;
			display: inline-block;
			font-size: 0.8rem;
			line-height: 0.8rem;
			font-weight: bold;
			padding: 0.25rem 1rem;
			background-color: $primary;
			color: $secondary;
			border-radius: 100vh;
			text-align: center;
			transform: translateY(-50%);

			border: 4px solid white;
		}
	}

	&__main {
		margin-left: 30px;
		width: 100%;
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__interactive {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		> button {
			position: relative;
			cursor: pointer;
			font-weight: bold;
			margin-right: 10px;
			white-space: nowrap;
			border: none;
			background: none;
			text-transform: uppercase;
			font-family: $mainfont;
			color: $primary;
			font-size: 0.875rem;

			> span {
				transition: 0.2s;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				width: 0%;
				background-color: $primary;
			}

			&:hover {
				> span {
					width: 100%;
				}
			}

			&.showReplies {
				> span {
					width: 100%;
				}
			}
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 10px;

		&Author {
			font-size: 1.2rem;
			font-weight: 600;
			&:link,
			&:visited {
				color: $textdark;
			}
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&PublishedTime {
			display: flex;
			color: $gray;
			align-items: center;
			font-size: 1rem;
		}
	}

	&__replyButton {
		display: flex;
		justify-content: flex-end;
		&Icon {
			color: $textdark;
			font-size: 1.2rem;
			&:hover {
				color: $primary;
				cursor: pointer;
			}
		}
	}

	&__replyForm {
		background-color: rgba(0,0,0, 0.75);
		padding: 10px;
		border-radius: 0 0 5px 5px;
	}
}

.reply {
	display: flex;
	justify-content: center;
	margin-bottom: 2px;

	.comment__body {
		border-radius: 0;
		width: 100%;
		background-color: rgba(255,255,255, 0.5);
		padding: 20px;
		box-shadow: none;
		border: 1px solid rgba(255,255,255, 0.5);
	}

	.comment__main {
		font-size: 1rem;
		margin: 0;
	}

	.comment__header {
		&Author {
			font-size: 1rem;
		}

		&PublishedTime {
			font-size: 1rem;
		}
	}
}

.seperator {
	margin-right: 10px;
	color: $primary;
	opacity: 0.35;
	height: 1rem;
	width: 2px;
	background-color: $primary;
	border: none;

	@include noselect;
}

.isReplying {
	border-radius: 5px 5px 0 0;
}
