@import '../../styles/index.scss';

.error {
	color: $primary;
	margin-bottom: 10px;
}

.editorLabel {
	&__icon {
		font-size: 1em;
		margin-right: 5px;
		background-color: white;
		border-radius: 100%;
		color: $textdark;
	
		@include mobile-all-portrait {
			font-size: 1rem;
		}
	
		@include mobile-xs {
			font-size: 0.9rem;
		}
	
		&Check {
			color: $success;
		}
	
		&Times {
			color: $failure;
		}
	}

	&__title {
		font-size: 1.5rem;
		font-weight: bold;
		color: $textdark;
	}
}

.editorForm {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;

	&__editor {
		border-radius: 22.5px;
		background-color: white;
		color: $textdark;
		padding: 10px 18px;
		width: 88%;
	}
}
