@import '../../styles/index.scss';
@import '../../styles/variables.scss';

.postLike {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	justify-content: flex-end;

	.postLikesAmount {
		height: fit-content;
		color: $nav-items;
		margin-right: 8px;
	}

	.clickableLikes {
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	button {
		background-color: $primary;
		border: none;
		border-radius: 20px;
		padding: 8px;
		font-size: 18px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		.likeIcon {
			width: 16px;
			height: 16px;
			path {
				fill: white;
			}
		}
	}
}

.liked {
	button {
		background-color: $dark;
	}
}
