@import '../../styles/index.scss';

.topAuthors {
	background-color: $light;
	padding: 30px 0;

	&Content {
		max-width: $wrapper-width;
		padding: 0 20px;
		margin: 0 auto;

		&Top {
			display: flex;
			margin-bottom: 30px;

			&Header {
				max-width: calc(#{$wrapper-width} / 2);

				&Title {
					font-size: $nr-lg-fontsize;
					color: $primary;
					font-weight: 300;
					line-height: 31px;
				}

				&Message {
					color: $secondary;
					font-size: $nr-xxl-fontsize;
					font-weight: 900;
					white-space: normal;
					line-height: 54px;
				}
			}

			&ViewMore {
				margin-top: auto;
				margin-left: auto;
				display: flex;
				color: $secondary;
				font-weight: 300;
				font-size: $nr-sm-fontsize;

				&Icon {
					margin: auto 0 auto 10px;
					font-size: .8em;
				}

				> p {
					position: relative;

					> span {
						@include fancy-underline(2px, 0);
					}
				}

				&:hover {
					> p > span {
						width: 100%;
					}
				}
			}
		}

		&Authors {
			position: relative;
			overflow: hidden;
			
			&Overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				pointer-events: none;
				z-index: 1;
				transition: opacity .8s linear;
			}

			.overlayFade {
				&Right {
					background: linear-gradient(90deg, rgba($light, 0) 80%, rgba($light, 1) 100%);
				}

				&Left {
					background: linear-gradient(-90deg, rgba($light, 0) 80%, rgba($light, 1) 100%);
				}

				&LeftRight {
					background: linear-gradient(90deg, rgba($light, 1) 0%, rgba($light, 0) 20%, rgba($light, 0) 50%, rgba($light, 0) 80%, rgba($light, 1) 100%, rgba($light, 1) 100%);
				}
			}

			.overlayHidden {
				opacity: 0;
			}

			&List {
				list-style: none;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				overflow: hidden;

				> li {
					flex: 1;
					transition: all .8s ease-in;
				}

				> li:not(:last-child) {
					padding-right: 20px;
				}
			}
		}

		&Pages {
			padding-top: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;

			&TopNavigator {
				display: flex;

				&Page {
					background-color: #2e2e4c;
					width: 50px;
					height: 4px;
					opacity: .2;
					margin: 0 5px;
					cursor: pointer;
					transition: opacity .2s linear;

					&:hover {
						opacity: 1;
					}
				}

				.activePage {
					opacity: 1;
				}
			}

			&Bottom {
				&Navigator {
					margin-top: 15px;
					display: flex;

					&PageCounter {
						margin: 2px 0;
						font-size: $nr-xs-fontsize;
					}

					&Arrow {
						cursor: pointer;
						padding: 0 20px;
						color: $secondary;
						opacity: .2;
						transition: opacity .2s linear;
						user-select: none;

						&Icon {
							font-size: .7em;
						}

						&:hover {
							opacity: 1;
						}
					}
				}

				&ViewMore {
					display: none;
					margin-top: auto;
					color: $secondary;
					font-weight: 300;
					font-size: $nr-sm-fontsize;
					opacity: .8;

					&Icon {
						margin: auto 0 2px 10px;
						font-size: .7em;
						opacity: .8;
					}
				}
			}
		}
	}

	@include mobile-tablet() {
		.topAuthors {
			&Content {
				&Pages {
					&Bottom {
						margin-top: 10px;
					}
				}
			}
		}
	}

	@include mobile-all() {
		.topAuthors {
			&Content {
				&Top {
					margin-bottom: 35px;

					&Header {
						max-width: initial;

						&Title {
							font-size: $nr-md-fontsize;
						}

						&Message {
							font-size: $nr-xl-fontsize;
							line-height: 44px;
						}
					}

					&ViewMore {
						display: none;
					}
				}

				&Authors {
					&Overlay {
						display: none;
					}

					&List {
						> li {
							flex: none;
							width: 250px;
						}
					}
				}

				&Pages {
					align-items: initial;
					padding-top: 10px;

					&TopNavigator {
						display: none;
					}

					&Bottom {
						margin-top: 0;
						display: flex;
						justify-content: space-between;

						&Navigator {
							transform: translateX(-20px);
						}

						&ViewMore {
							display: flex;
						}
					}
				}
			}
		}
	}
}
