@import '../../styles/index.scss';

.topAuthors {
	background-color: $light;
	height: 650px;
	padding: 30px 0;

	&Content {
		max-width: $wrapper-width;
		padding: 0 20px;
		margin: 0 auto;

		&Top {
			display: flex;
			margin-bottom: 30px;

			&Header {
				max-width: calc(#{$wrapper-width} / 2);

				&Title {
					font-size: $nr-lg-fontsize;
					color: $primary;
					font-weight: 300;
					line-height: 31px;
				}

				&Message {
					color: $secondary;
					font-size: $nr-xxl-fontsize;
					font-weight: 900;
					white-space: normal;
					line-height: 54px;
				}
			}

			&ViewMore {
				margin-top: auto;
				margin-left: auto;
				display: flex;
				color: $secondary;
				font-weight: 300;
				font-size: $nr-sm-fontsize;

				&Icon {
					margin: auto 0 auto 10px;
					font-size: .8em;
				}

				> p {
					position: relative;

					> span {
						@include fancy-underline(2px, 0);
					}
				}

				&:hover {
					> p > span {
						width: 100%;
					}
				}
			}
		}

		&Authors {
			position: relative;
			
			&Overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				pointer-events: none;
			}

			.overlayFade {
				&Right {
					background: linear-gradient(90deg, rgba($light, 0) 80%, rgba($light, 1) 100%);
				}

				&Left {
					background: linear-gradient(-90deg, rgba($light, 0) 80%, rgba($light, 1) 100%);
				}

				&LeftRight {
					background: linear-gradient(90deg, rgba($light, 1) 0%, rgba($light, 0) 20%, rgba($light, 0) 50%, rgba($light, 0) 80%, rgba($light, 1) 100%, rgba($light, 1) 100%);
				}
			}

			&List {
				list-style: none;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				> li {
					flex: 1;
				}

				> li:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}

	@include mobile-tablet() {

	}

	@include mobile-all() {
		.topAuthors {
			&Content {
				&Top {
					margin-bottom: 35px;

					&Header {
						max-width: initial;

						&Title {
							font-size: $nr-md-fontsize;
						}

						&Message {
							font-size: $nr-xl-fontsize;
							line-height: 44px;
						}
					}

					&ViewMore {
						display: none;
					}
				}

				&Authors {
					&Overlay {
						display: none;
					}

					&List {
						> li {
							flex: none;
							width: 250px;
						}
					}
				}
			}
		}
	}
}
