@import '../../styles/index.scss';

.wrapper {
	position: relative;
	background-position: center;
	background-size: cover;
	height: calc(50vh + #{$header-height});
	min-height: 450px;
	background-color: $darker;
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture {
	border-radius: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-color: $darkest;
	display: flex;
	justify-content: center;
	min-width: 200px;
	min-height: 200px;
	pointer-events: initial;

	@include mobile-all-portrait {
		overflow: visible;
		min-width: 150px;
		min-height: 150px;
		width: 20vh;
		height: 20vh;
		max-width: 80vw;
		max-height: 80vw;
	}
	@include box-shadow;

	&Edit {
		transition: 0.2s;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.75);
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		border-radius: 50%;

		&:hover {
			transition: 0.2s;
			opacity: 1;
		}

		@include mobile-all-portrait {
			border-radius: 100%;
		}

		input {
			cursor: pointer;
			width: 100%;
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0;
		}
	}

	&DraggingOver {
		cursor: pointer;
		transition: 0.2s;
		opacity: 1;
	}
}

.follow {
	transition: 0.2s;
	background-color: $primary;
	align-self: flex-end;
	padding: 10px 20px;
	line-height: 1rem;
	border-radius: 100vh;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	text-shadow: 0 0 5px rgba(0,0,0,0.25);
	color: white;
	font-weight: bold;
	text-transform: capitalize;
	border: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 1px;
	margin-bottom: -10px;

	@include mobile-all-portrait {
		margin-left: 5px;
		padding: 0;
		height: 2rem;
		width: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $darkest;
		color: $primary;
		margin-bottom: -0.5rem;
		transition: none;

		&.replied {
			background: white;

			> svg {
				color: $primary;
			}
		}
	}

	> p {
		@include mobile-all-portrait {
			display: none;
		}
	}

	> svg {
		display: none;
		color: white;
		transition: none;

		@include mobile-all-portrait {
			display: block;
		}
	}

	&:hover {
		transition: 0.2s;
		transform: scale(1.1);
	}
}

.banner {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	&:hover {
		.bannerEdit {
			opacity: 1;
		}
	}

	&Image {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.5;
		z-index: 0;
		background-size: cover;
		background-position: center;
	}

	&Edit {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: flex-end;
		transition: 0.2s;

		&:hover {
			.bannerEditActionBtn {
				opacity: 1;
			}
		}

		&ActionBtn {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			opacity: 0;
			color: white;
			background-color: rgba(0, 0, 0, 0.35);
			font-size: 1rem;
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
			padding: $header-spacing;
			transition: 0.2s;

			@include mobile-all {
				padding: $header-spacing;
				font-size: 1.5rem;
			}

			&Text {
				vertical-align: middle;
				
				> span {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1rem;
					margin-right: 10px;
					letter-spacing: 1px;

					@include mobile-all {
						display: none;
					}
				}
			}
		}

		input {
			cursor: pointer;
			width: inherit;
			height: inherit;
			position: absolute;
			z-index: 1;
			opacity: 0;
		}

		&DraggingOver {
			.bannerEditActionBtn {
				opacity: 1;
			}
		}
	}
}

.innerWrapper {
	z-index: 2;
	transition: 0.5s;
	padding: $header-spacing;
	width: 100%;
	max-width: $wrapper-width;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;

	@include mobile-all-portrait {
		align-items: center;
		flex-direction: column;
	}
}

.info {
	margin-left: 15%;
	overflow: hidden;

	@include mobile-all-portrait {
		margin-left: 0;
		width: 100%;
		height: auto;
		margin-top: $header-spacing;
		text-align: center;
	}
}

.achieved {
	@include mobile-all-portrait {
		align-self: center;
	}
	display: inline-flex;
	overflow: hidden;
	background-color: rgba(0,0,0,0.75);
	padding: $header-spacing / 2;
	border-radius: $header-spacing / 3;
	margin-top: $header-spacing / 2;
	pointer-events: initial;
}

.level {
	display: flex;
	align-items: center;
	border-radius: 0.25rem;
	align-self: center;
	height: 1.8rem;
	padding: 0 0.6rem;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	background-color: $primary;
	z-index: 1;

	@include box-shadow;
	@include mobile-all-portrait {
		display: none;
	}

	&Mobile {
		@extend .level;

		align-self: flex-end;
		border-radius: 0.2rem;
		margin-bottom: -0.5rem;
		min-width: 6vw;
		height: 2rem;
		display: none;

		@include mobile-all-portrait {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.role {
	align-items: center;
	font-size: 1.2rem;
	font-weight: normal;
	color: $primary;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 5px;

	@include text-shadow;
	@include mobile-all-portrait {
		white-space: pre-wrap;
		font-size: 1rem;
	}
}

.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	width: auto;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: bold;
	font-size: 3rem;
	pointer-events: none;

	&Large {
		font-size: 2.5rem;
	}

	&Medium {
		font-size: 2rem;
	}

	&Small {
		font-size: 1.5rem;
	}

	@include text-shadow;
	@include mobile-all-portrait {
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: 0;
		padding: 0;
		font-size: 1.5rem;

		&Large {
			font-size: 1.35rem;
		}
	
		&Medium {
			font-size: 1.2rem;
		}
	
		&Small {
			font-size: 1rem;
		}
	}
}
