@import '../../styles/index.scss';

.wrapper {
	width: $wrapper-width;
	margin: 0 auto;
	padding: $header-spacing * 4;

	@include mobile-all-portrait {
		padding: $header-spacing * 2;
		width: 100%;
	}
}

.content {
	margin-top: $header-spacing * 2;
	min-height: 10vh;

	@include mobile-all-portrait {
		margin-top: $header-spacing;
		width: 100%;
	}
}
