@import '../../styles/index.scss';

.title {
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	color: $primary;

	&Edit {
		color: gray;
		font-size: 1rem;
		cursor: pointer;
	}
}

.icon {
	background-color: gray;
	color: white;
	border-radius: 30px;
	font-size: 1rem;
	padding: 4px;
}
