@import '../../styles/index.scss';

$post-wrapper-width: 670px;
$post-padding-top: $header-spacing * 3;

.likePostWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.post {
	&Side {
		display: flex;
		flex-direction: column;
		position: fixed;
		left: 83px;
		padding-top: $post-padding-top;

		&Author {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			&Header {
				color: $secondary;
				font-size: $nr-sm-fontsize;
				margin-bottom: 10px;
			}
		}
	}

	&Wrapper {
		width: 100%;
		max-width: $post-wrapper-width;
		margin: 0 auto;
		padding-top: $post-padding-top;
		white-space: normal;

		&Top {
			display: flex;
			justify-content: space-between;
		}

		&Thumbnail {
			margin-bottom: 40px;
		}

		&Content {
			margin-bottom: 40px;
		}
	}

	&ActionButtons {
		display: flex;
		justify-content: space-between;

		&Left {

		}

		&Right {
			padding-top: 10px;
		}
	}
}

.delete {
	cursor: pointer;
	font-size: 1.2rem;
	padding: 8px 0;
	color: $text-dark;
	border-radius: 100%;

	&:hover {
		color: $primary;
	}
}

.publish {
	&Button {
		@include noselect;
		display: inline-block;
		color: white;
		padding: 10px 40px;
		font-weight: bold;
		font-size: 1rem;
		letter-spacing: 1px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		list-style-type: none;
		margin-bottom: 80px;
	}
	&ed {
		background-color: rgba(0,0,0,0.25);
	}
}

.info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: $header-spacing * 2 - 10px;

	&Saving {
		font-weight: bold;
		color: rgba(0,0,0,0.25);
		margin-left: $header-spacing;
		text-transform: uppercase;
	}
}

.date {
	@include noselect;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: gray;
	opacity: 0.35;
	font-size: 0.8rem;
	font-weight: bold;

	&Icon {
		margin-right: 10px;
	}
}

.toolTip {
	@include tooltip();
}
