@import '../../styles/index.scss';

$post-wrapper-width: 670px;

.postContent {
	width: 100%;
	max-width: $post-wrapper-width;
	margin: 0 auto;
	padding-top: $header-spacing * 4;
	white-space: normal;

	&Title {
		color: $secondary;
		font-size: 46px;
		line-height: 1.13;
		margin-bottom: 10px;
	}

	&Description {
		color: $text;
		font-size: $nr-sm-fontsize;
		line-height: 1.5;
		font-weight: 600;
		margin-bottom: 30px;
	}
}
