@import '../../styles/index.scss';

$post-wrapper-width: 670px;

.postWrapper {
	width: 100%;
	max-width: $post-wrapper-width;
	margin: 0 auto;
	padding-top: $header-spacing * 4;
	white-space: normal;

	&Thumbnail {
		width: 100%;
		margin-bottom: 40px;
	}

	&Content {

	}
}
