@import '../../../styles/variables';

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $grid-block-gap 0;
    background-color: rgba(239,239,239,0.96);
    z-index: 999;
}

.logo {
    @media screen and (max-width: 800px) {
        font-size: $nr-xxl-fontsize;
        line-height: $nr-xxl-fontsize * 0.75;
    }
    @media screen and (min-width: 801px) {
        font-size: $nr-logo-fontsize;
        line-height: $nr-logo-fontsize * 0.75;
    }
    color: $primary;
    text-transform: uppercase;
}

.menu {
    &__ul {
        display: flex;
        list-style-type: none;
        font-family: $sidefont;
        color: rgba(0,0,0,0.5);
        font-size: $nr-sm-fontsize;
        text-transform: capitalize;
        align-items: center;
        letter-spacing: 1px;
        font-weight: bold;
    }
    &__link {
        margin: 0 $nr-sm-fontsize;
        cursor: pointer;
    }
    &__signup {
        margin: 0 $nr-sm-fontsize;
        margin-right: 0;
        padding: 10px 30px;
        border-radius: 3px;
        cursor: pointer;
        background-color: $primary;
        color: white;
        text-align: center;
    }
}