@import '../../styles/index.scss';

.prompt {
	background-color: $prompt-background;
	border: 1px solid $prompt-border-color;
	border-radius: 13px;
	padding: 50px 60px;
	
	@include mobile-all-portrait {
		display: flex;
		background-color: $background-trans-less;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border: none;
		border-radius: 0;
		height: 100%;
		max-width: 100%;
		width: 100%;
		padding: 0;
	}
}

.counter {
	margin-left: 10px;
	font-size: 0.8rem;
	color: gray;
	
	@include mobile-all-portrait {
		margin-top: 10px;
	}
	@include mobile-sm {
		margin-top: 0;
	}
}

.text {
	word-break: break-word;
	white-space: normal;
	padding: 0 2rem;
	font-size: 2rem;
	line-height: 33px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-bottom: $header-spacing;

	@include mobile-all-portrait {
		word-break: break-all;
		font-size: 2rem;
		color: $mobile-text-login;
		font-weight: bold;
	}

	&Icon {
		display: none;
		color: $primary;
		margin-left: 5px;

		@include mobile-all-portrait {
			display: inline;
		}

		@include mobile-sm {
			display: none;
		}
	}

	@include mobile-all-portrait {
		margin-bottom: 0;
		word-break: break-word;
		font-size: 1.8rem;
		color: $raw-text-color;
		font-weight: bold;
	}

	@include mobile-sm {
		font-size: 1.4rem;
		line-height: 1.4rem;
	}
}

.form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;

	@include mobile-all-portrait {
		margin-top: 20px;
		justify-content: center;
		padding: $header-spacing;
		padding-bottom: 0;
		width: 80%;
		min-width: 300px;
		max-width: 800px;
	}

	@include mobile-sm {
		margin-top: 0;
	}

	&Wrapper {
		margin-top: 15px;
		justify-content: space-around;
		display: flex;
		gap: 30px;
		width: 100%;
		@include mobile-all-portrait {
			margin-top: 0;
		}
	}

	&Group {
		margin-top: 20px;
		
		@include mobile-all-portrait {
			margin-top: 30px;
		}

		@include mobile-sm {
			margin-top: 20px;
		}
	}
}

.image {
	display: inline-block;
	min-width: 230px;
	margin-top: auto;
	height: calc(110px * 1.65);
	border-radius: 10px;
	background-repeat: no-repeat;
	background-image: url('../../static/login/login.svg');
	background-size: contain;

	@include mobile-all-portrait {
		display: none;
	}
}

.submit {
	font-size: 0.9rem;

	@include mobile-all-portrait {
		font-size: 1rem;
		line-height: 1rem;
		border-radius: 999px;
		padding: 20px 45px;
		display: flex;
		align-items: center;
		
		&Wrapper {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}
	}

	@include mobile-sm {
		margin: 20px auto;
	}

	@include mobile-xs {
		font-size: 0.9rem;
		line-height: 0.9rem;
		padding: 20px 40px;
	}

	&Wrapper {
		margin-top: 30px;
		display: flex;
		align-items: center;
	}
}
