@import './fonts/Rockwell-Bold.ttf';

@font-face {
    font-family: Rockwell;
    src: ('./fonts/Rockwell-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    font-family: $mainfont;
}
