// General

// Colors
$primary: #ff4040;
$secondary: #EFEFEF;
$background: #F4F4F4;
$background-trans: rgba(244, 244, 244, 0.95);

// Fonts
$mainfont: Rockwell;
$sidefont: Arial;
$secondaryfont: arial;

// Sizes
$wrapper-width: 1000px;
$logo-font-size: 82px;
$logo-font-size-sm: 46px;

// Spacing
$header-spacing: 20px;

// Responsive
$xs-fontsize: 1vw;
$sm-fontsize: 2vw;
$md-fontsize: 3vw;
$lg-fontsize: 4vw;
$xl-fontsize: 5vw;
$xxl-fontsize: 6vw;

// Not responsive
$nr-xs-fontsize: 12px;
$nr-sm-fontsize: 16px;
$nr-md-fontsize: 24px;
$nr-lg-fontsize: 30px;
$nr-xl-fontsize: 36px;
$nr-xxl-fontsize: 48px;
$nr-logo-fontsize: 94px;

// Breakpoints
$medium-max: 749px;
$medium-min: 750px;
$full-percentage: 100%;

// Grid
$grid-block-size: 25vh;
$grid-block-gap: 20px;
