@import '../../styles/index.scss';

@mixin profileCardFlexSection {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.wrapper {
	max-width: 262px;
	margin-bottom: 30px;

	@include mobile-all-portrait {
		overflow: visible;
		max-width: 80%;
		margin: 0 auto 30px auto;
	}
}

.profilePictureWrapper {
	position: relative;
	max-width: 150px;
	margin: 0 auto;

	@include mobile-all-portrait {
		overflow: visible;

		max-width: 200px;
	}

	.profilePicture {
		border-radius: 100%;
		position: relative;
		background-size: cover;
		background-position: center;
		background-color: $darkest;
		display: flex;
		justify-content: center;
		min-width: 150px;
		min-height: 150px;
		pointer-events: initial;

		@include mobile-all-portrait {
			overflow: visible;
	
			width: 200px;
			height: 200px;
		}

		@include box-shadow;

		&Edit {
			transition: 0.2s;
			opacity: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,0.75);
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			border-radius: 50%;
	
			&:hover {
				transition: 0.2s;
				opacity: 1;
			}
	
			@include mobile-all-portrait {
				border-radius: 100%;
			}
	
			input {
				cursor: pointer;
				width: 100%;
				height: 100%;
				position: absolute;
				opacity: 0;
			}
		}
	
		&DraggingOver {
			cursor: pointer;
			transition: 0.2s;
			opacity: 1;
		}
	}
}

.profileInfo {
	margin-top: 10px;
}

.profileNameWrapper {
	display: flex;
	justify-content: center;
	color: $primary;
	font-size: $nr-md-fontsize;
}

.profileInfoBadge {
	vertical-align: middle;
	height: auto;
	color: $primary;
	margin-right: 5px;
}

.profileInfoUsername {
	text-align: center;
	color: $secondary;
}

.profileStatistics {
	@include profileCardFlexSection;

	@include mobile-all-portrait {
		justify-content: space-around;
	}
}

.profileStatisticNumber {
	font-weight: 600;
	font-size: $nr-md-fontsize;
}

.profileStatisticMetric {
	opacity: 0.8;
	font-size: $nr-sm-fontsize;
}

.profileCardButtons {
	@include profileCardFlexSection;

	@include mobile-all-portrait {
		justify-content: left;
	}

	.followButton {
		border-radius: 0;
		width: 210px;
	
		&.replied {
			background: white;
			color: $primary;
			border: 1px solid $primary;
		}
	}
	
	.editButton {
		border-radius: 0;
		width: 210px;
		background-color: $secondary;
	}
	
	.chatButton {
		border-radius: 0;
		color: $primary;
		background-color: transparent;
		border: 1px solid $primary;
		margin-left: 5px;
	}
}

.profileCardBio {
	width: 100%;
}

.editor {
	background-color: rgba(255, 255, 255, 0.1); 
	border-radius: 5px;
	margin-top: 30px;
	width: 100%;
}
