@import '../../styles/index.scss';

.postsBlockLargeInfo {
	display: flex;
	align-items: center;
	width: fit-content;
	flex-wrap: wrap;

	& > * {
		margin-right: 12px;
	}

	&Category {
		color: $primary;
		display: flex;
		font-size: 1.2em;
		align-items: center;

		&Bullet {
			&Icon {
				margin-right: 12px;
				font-size: .7em;
			}
		}

		&:hover {
			color: $primary-light;
		}
	}

	&Text {
		color: $light-gray;
		font-size: 1.2em;
		font-weight: 300;
		display: flex;

		&ReadingTime {
			font-size: .8em;
			margin-right: 4px;
			display: flex;
			align-items: center;
		}
	}

	&Bullet {
		color: $light-gray;
		opacity: .8;
	}

	@include mobile-all() {
		.postsBlockLargeInfoLeft {
			&Text {
				color: $text;
			}
		}
	}
}
