@import '../../styles/index.scss';

.wrapper {
	display: block;
	margin: 0 auto;
	white-space: nowrap;
	width: 100%;
	justify-content: center;
	overflow-x: hidden;
}

.higherOrder {
	display: flex;
	flex-wrap: nowrap;
	position: fixed;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.hasScroll {
	width: calc(100vw - 14px) !important;
}
