@import '../../styles/index.scss';
@import '../../styles/variables.scss';

* {
	transition: .2s ease-in-out;
}

.form {
	&Group {
		margin-top: 20px;
		
		@include mobile-all-portrait {
			margin-top: 30px;
		}

		@include mobile-sm {
			margin-top: 20px;
		}
	}
}

.banUser {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 101;

	&Background {
		width: inherit;
		height: inherit;
		background-color: black;
		opacity: 0.5;
		animation: fade-in 0.2s
	}

	&PopUp {
		@include pop-up();
		height: auto;
		max-height: 98%;
		overflow-y: visible;
		padding: 30px 30px;
		overflow: visible;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: fit-content;

		@include mobile-sm {
			min-width: initial;
			max-width: 95%;
		}

		&Btns {
			display: flex;

			&CancelButton {
				background-color: $secondary;
				color: $dark;
				display: inline-block;

				&:hover {
					animation: none;
					color: black;
				}
			}

			&SaveButton {
				margin-top: 10px;
			}
		}
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
