@import '../../styles/index.scss';

.wrapper {
	position: relative;
	background-position: center;
	background-size: cover;
	height: calc(50vh + #{$header-height});
	min-height: 450px;
	background-color: $darker;
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture {
	overflow: hidden;
	border-radius: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-color: $darkest;
	display: flex;
	justify-content: left;
	min-width: 100px;
	min-height: 100px;
	width: 5vw;
	height: 5vw;
	@include mobile-all-portrait {
		overflow: visible;
		min-width: 150px;
		min-height: 150px;
		width: 20vh;
		height: 20vh;
		max-width: 80vw;
		max-height: 80vw;
	}
	@include box-shadow;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	opacity: 0.5;
	background-color: white;
}

.innerWrapper {
	z-index: 1;
	transition: 0.5s;
	padding: $header-spacing;
	width: 100%;
	max-width: $wrapper-width;
	display: flex;
	align-items: center;
	justify-content: left;
	align-self: flex-end;
	background-color: rgba(0,0,0,0.45);
	@include mobile-all-portrait {
		align-items: center;
		flex-direction: column;
	}
}

.info {
	margin-left: 5%;
	overflow: hidden;

	@include mobile-all-portrait {
		margin-left: 0;
		width: 100%;
		height: auto;
		margin-top: $header-spacing;
		text-align: center;
	}
}

.achieved {
	@include mobile-all-portrait {
		align-self: center;
	}
	display: inline-flex;
	overflow: hidden;
	background-color: rgba(0,0,0,0.75);
	padding: $header-spacing / 2;
	border-radius: $header-spacing / 3;
	margin-top: $header-spacing / 2;
}

.level {
	display: flex;
	align-items: center;
	border-radius: 0.25rem;
	align-self: center;
	height: 1.8rem;
	padding: 0 0.6rem;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	background-color: $primary;
	
	@include box-shadow;
	@include mobile-all-portrait {
		display: none;
	}

	&Mobile {
		@extend .level;

		align-self: flex-end;
		border-radius: 0.2rem;
		margin-bottom: -0.5rem;
		min-width: 6vw;
		height: 2rem;
		display: none;

		@include mobile-all-portrait {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.role {
	align-items: center;
	align-self: center;
	font-size: 0.8rem;
	margin-left: $header-spacing / 2;
	font-weight: normal;
	color: $primary;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	@include text-shadow;
	@include mobile-all-portrait {
		white-space: pre-wrap;
		font-size: 0.5rem;
		margin-left: 0;
	}
}

.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;

	&Large {
		font-size: 1.25rem;
	}

	&Medium {
		font-size: 1rem;
	}

	&Small {
		font-size: 0.75rem;
	}

	@include text-shadow;
	@include mobile-all-portrait {
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: 0;
		padding: 0;
		font-size: 0.75rem;

		&Large {
			font-size: 0.675rem;
		}
	
		&Medium {
			font-size: 0.6rem;
		}
	
		&Small {
			font-size: 0.5rem;
		}
	}
}
