@import '../../styles/index.scss';

.wrapper {
	z-index: 0;
	position: relative;
	background-position: center;
	background-size: cover;
	height: calc(50vh + #{$header-height});
	min-height: 450px;
	background-color: $darker;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	&Edit {
		z-index: 2;
		transition: 0.2s;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.4);
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		cursor: pointer;

		&:hover {
			cursor: pointer;
			transition: 0.2s;
			opacity: 1;
			bottom: 0;
		}

		@include mobile-all-portrait {
			display: none;
		}
	}
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	opacity: 0.5;
	background-color: white;
}

.innerWrapper {
	background: rgba(0,0,0,0.5);
	width: 100%;
	bottom: 0;
	z-index: 2;
	transition: 0.5s;
	padding: $header-spacing;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backdrop {
	z-index: 1;
	position: absolute;
	bottom: 0;
	padding: 10vh;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.picture {
	overflow: hidden;
	border-radius: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-color: $darkest;
	display: flex;
	justify-content: center;
	min-width: 100px;
	min-height: 100px;
	width: 6vw;
	height: 6vw;
	@include box-shadow;
}

.user_info {
	margin-left: 3%;
}

.info {
	z-index: 4;
	width: 100%;
	padding: 0 $header-spacing;
	max-width: $wrapper-width;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@include mobile-all-portrait {
		padding: 0;
		justify-content: center;
		align-items: center;
	}
}

.achieved {
	display: inline-flex;
	overflow: hidden;
	background-color: rgba(0,0,0,0.75);
	padding: $header-spacing / 2;
	border-radius: $header-spacing / 3;
	margin-top: $header-spacing / 2;
	@include mobile-all-portrait {
		justify-content: center;
		display: flex;
	}
}

.level {
	display: flex;
	align-items: center;
	border-radius: 0.25rem;
	align-self: center;
	height: 1.8rem;
	padding: 0 0.6rem;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	background-color: $primary;
	
	@include box-shadow;
	@include mobile-all-portrait {
		margin-right: 0.2rem;
	}
}

.role {
	align-items: center;
	font-size: 1.2rem;
	margin-left: $header-spacing / 2;
	font-weight: normal;
	color: $primary;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 4rem;
	@include text-shadow;
	@include mobile-all-portrait {
		display: flex;
		white-space: pre-wrap;
		font-size: 0.8rem;
		margin-left: 0;
		// align-items: center;
	}
}

.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 0.1rem;
	color: white;
	width: 100%;
	max-width: 12rem;
	font-weight: bold;
	font-size: 1.5rem;

	@include text-shadow;
	@include mobile-all-portrait {
		font-size: 1rem;
	}
}
