@import '../../styles/index.scss';

.wrapper {
	z-index: 0;
	position: relative;
	background-position: center;
	background-size: cover;
	height: calc(50vh + #{$header-height});
	min-height: 450px;
	background-color: $darker;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	&Edit {
		position: absolute;
		z-index: 2;
		width: fit-content;
		height: fit-content;
		background-color: rgba(0,0,0,0.4);
		color: white;
		display: flex;
		right: 20%;
		bottom: 25%;
		border-radius: 30px;
		padding: 10px;
		font-weight: bolder;
		justify-content: flex-end;
		align-items: center;
		font-size: 1rem;
		cursor: pointer;
		transition: all .2s ease-in-out;

		&Content {
			padding: 0 15px;
			font-size: 1.2rem;
		}

		@include mobile-all-portrait {
			display: none;
		}
	}
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	opacity: 0.5;
	background-color: white;
}

.innerWrapper {
	background: rgba(0,0,0,0.5);
	width: 100%;
	bottom: 0;
	z-index: 2;
	transition: 0.5s;
	padding: $header-spacing;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backdrop {
	z-index: 1;
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: rgba(0,0,0,0.4);

	&:hover {
		transition: 0.3s;
		opacity: 0.8;
		cursor: pointer;
	}
}

.picture {
	overflow: hidden;
	border-radius: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-color: #1f1f1f;
	display: flex;
	justify-content: center;
	min-width: 80px;
	min-height: 80px;
	width: 3vw;
	height: 3vw;
	@include box-shadow;
}

.user_info {
	margin-left: 3%;
}

.info {
	z-index: 4;
	width: 100%;
	padding: 0 $header-spacing;
	max-width: $wrapper-width;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@include mobile-all-portrait {
		padding: 0;
		justify-content: center;
		align-items: center;
	}
}

.achieved {
	display: inline-flex;
	overflow: hidden;
	@include mobile-all-portrait {
		justify-content: center;
		display: flex;
	}
}

.level {
	display: flex;
	align-items: center;
	border-radius: 8px;
	align-self: center;
	height: 1.2rem;
	padding: 0 0.3rem;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	background-color: $primary;
	
	@include box-shadow;
	@include mobile-all-portrait {
		margin-right: 0.2rem;
	}
}

.role {
	align-items: center;
	font-size: 1.2rem;
	margin-left: $header-spacing / 2;
	font-weight: bolder;
	color: $primary;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	justify-content: center;
	
	@include text-shadow;
	@include mobile-all-portrait {
		display: flex;
		white-space: pre-wrap;
		font-size: 0.8rem;
		margin-left: 8px;
	}
}

.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 0.1rem;
	color: white;
	width: 100%;
	font-weight: bold;
	font-size: 1.5rem;

	@include text-shadow;
	@include mobile-all-portrait {
		font-size: 1rem;
	}
}
