@import '../../styles/index.scss';

.prompt {
	background-color: white;
	border: 1px solid whitesmoke;
	border-radius: 13px;
	padding: 50px 100px;
	
	@include mobile-all-portrait {
		display: flex;
		background-color: $background-trans-less;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border: none;
		border-radius: 0;
		height: 100%;
		max-width: 100%;
		width: 100%;
		padding: 0;
	}
}

.text {
	word-break: break-word;
	white-space: normal;
	padding: 0 2rem;
	font-size: 2rem;
	line-height: 33px;
	font-weight: bold;
	width: 100%;
	text-align: center;

	&Icon {
		display: none;
		color: $primary;
		margin-left: 5px;

		@include mobile-all-portrait {
			display: inline;
		}

		@include mobile-sm {
			display: none;
		}
	}

	@include mobile-all-portrait {
		word-break: break-word;
		font-size: 1.8rem;
		color: black;
		font-weight: bold;
	}

	@include mobile-sm {
		font-size: 1.4rem;
		line-height: 1.4rem;
	}

	&Break {
		@include mobile-all-portrait {
			display: block;
		}
	}

	&Footer {
		width: 100%;
		text-align: center;
		margin-top: 3rem;
		font-size: 0.75rem;
		letter-spacing: 0;
		color: #9b9b9b;
		word-break: break-word;
		white-space: normal;

		@include mobile-all-portrait {
			width: 80%;
			font-size: 0.8rem;
			color: $darker;
		}

		@include mobile-sm {
			margin-top: 5px;
		}

		&_link {
			color: #9b9b9b;
			text-decoration: underline;

			@include mobile-all-portrait {
				color: $primary;
				font-weight: bold;
			}
		}

		&Small {
			word-break: break-word;
			white-space: normal;
		}
	}
}

.input {
	font-family: Poppins;
	font-size: 1rem;
	height: 1.6rem;
	color: #7f7f7f;
	border: none;
	border-bottom: 1px solid gray;
	cursor: text;

	@include mobile-all-portrait {
		background-color: transparent;
		color: $darker;
		display: flex;
		padding: 0;
		margin: 0;
		border-bottom: 2px solid rgba(0, 0, 0, 0.4);
		height: 40px;
		font-size: 20px;
		width: 100%;
	}

	@include mobile-xs {
		font-size: 15px;
		height: 30px;
	}
}

.label {
	align-items: center;
	display: flex;
	color: gray;
	font-size: 12px;
	margin-bottom: 5px;

	@include mobile-all-portrait {
		font-size: 1rem;
		color: $darker;
		font-weight: bold;
	}

	@include mobile-xs {
		font-size: 0.9rem;
	}
}

.form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;

	@include mobile-all-portrait {
		margin-top: 20px;
		justify-content: center;
		padding: $header-spacing;
		padding-bottom: 0;
		width: 80%;
		min-width: 300px;
		max-width: 800px;
	}

	@include mobile-sm {
		margin-top: 0;
	}

	&Wrapper {
		margin-top: 35px;
		justify-content: space-around;
		display: flex;
		width: 100%;
		@include mobile-all-portrait {
			margin-top: 0;
		}
	}

	&Group {
		margin-top: 20px;
		
		@include mobile-all-portrait {
			margin-top: 30px;
		}

		@include mobile-sm {
			margin-top: 20px;
		}
	}
}

.submit {
	transition: 0.2s;
	cursor: pointer;
	font-family: $mainfont, $sidefont;
	font-size: 0.75rem;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 10px 25px;
	border: none;
	border-radius: 48px;
	color: white;
	background-color: $primary;
	margin-top: 30px;
	display: inline-block;
	list-style-type: none;

	&:hover {
		transition: 0.2s;
		@include pulse();
	}

	@include mobile-all-portrait {
		font-size: 1rem;
		border-radius: 30px;
		padding: 25px 45px;
		height: 38px;
		display: flex;
		align-items: center;
		
		&_wrapper {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
		}
	}

	@include mobile-sm {
		margin: 20px auto;
	}

	@include mobile-xs {
		font-size: 0.9rem;
		padding: 25px 40px;
	}
}

.image {
	display: inline-block;
	min-width: 230px;
	margin-top: auto;
	height: calc(230px * 1.1);
	border-radius: 10px;
	margin-left: 30px;
	background-repeat: no-repeat;
	background-image: url('../../static/register/register.svg');

	@include mobile-all-portrait {
		display: none;
	}
}

.icon {
	font-size: 14px;
	margin-right: 5px;
	background-color: white;
	border-radius: 100%;

	@include mobile-all-portrait {
		font-size: 1rem;
	}

	@include mobile-xs {
		font-size: 0.9rem;
	}

	&Check {
		color: $success;
	}
	&Times {
		color: $failure;
	}
}

.toolTip {
	min-width: 200px;
	&Ul {
		padding: 5px 0;
		width: 100%;
		list-style-type: none;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&Li {
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 12px;
		line-height: 12px;
	}
}
