@import '../../styles/index.scss';

.prompt {
	background-color: white;
	border: 1px solid whitesmoke;
	border-radius: 13px;
	padding: 50px 100px;
	
	@include mobile-all-portrait {
		display: flex;
		background-color: $primary;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border: none;
		border-radius: 0;
		height: 100%;
		max-width: 100%;
		width: 100%;
		padding: 0;
	}
}

.text {
	padding: 0 2rem;
	font-size: 2rem;
	line-height: 33px;
	font-weight: bold;
	width: 100%;
	text-align: center;

	@include mobile-all-portrait {
		word-break: break-all;
		font-size: 1.8rem;
		color: #fff;
		font-weight: bold;
	}

	&Break {
		@include mobile-all-portrait {
			display: block;
		}
	}

	&Footer {
		width: 100%;
		text-align: center;
		margin-top: 3rem;
		font-size: 0.75rem;
		letter-spacing: 0;
		color: #9b9b9b;

		@include mobile-all-portrait {
			word-break: break-all;
			font-size: 0.8rem;
			color: #fff;
		}

		&_link {
			color: #9b9b9b;
			text-decoration: underline;

			@include mobile-all-portrait {
				word-break: break-all;
				color: #fff;
				font-weight: bold;
			}
		}
	}
}

.input {
	font-family: Poppins;
	font-size: 1rem;
	color: #7f7f7f;
	border: none;
	border-bottom: 1px solid gray;
	z-index: 1;
	cursor: text;

	@include mobile-all-portrait {
		color: white;
		display: flex;
		background: $primary;
		padding: 0;
		margin: 0;
		border-bottom: 2px solid rgba(0, 0, 0, 0.4);
		height: 40px;
		font-size: 20px;
		width: 100%;
	}
}

.label {
	display: block;
	color: gray;
	font-size: 12px;

	&:first-child {
		width: 100%;
	}

	@include mobile-all-portrait {
		font-size: 1rem;
		color: rgba(0, 0, 0, 0.4);
		font-weight: bold;
	}
}

.form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;

	@include mobile-all-portrait {
		margin-top: 20px;
		justify-content: center;
		padding: $header-spacing;
		padding-bottom: 0;
		width: 80%;
		min-width: 300px;
		max-width: 800px;
	}

	&Wrapper {
		margin-top: 35px;
		justify-content: space-around;
		display: flex;
		width: 100%;
		@include mobile-all-portrait {
			margin-top: 0;
		}
	}

	&Group {
		margin-top: 20px;
	}
}

.submit {
	cursor: pointer;
	font-family: $mainfont, $sidefont;
	font-size: 0.75rem;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 10px 25px;
	border: none;
	border-radius: 48px;
	color: white;
	background-color: $primary;
	margin-top: 30px;
	width: fit-content;
	list-style-type: none;

	@include mobile-all-portrait {
		font-size: 1rem;
		border-radius: 30px;
		background-color: $darker;
		padding: 10px 45px;
		height: 38px;
		display: flex;
		align-items: center;
		
		&_wrapper {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
		}
	}
}

.image {
	display: inline-block;
	min-width: 230px;
	margin-top: auto;
	height: calc(230px * 1.1);
	border-radius: 10px;
	margin-left: 30px;
	background-repeat: no-repeat;
	background-image: url('../../static/register/register.svg');

	@include mobile-all-portrait {
		display: none;
	}
}
