@import '../../styles/index.scss';

.wrapper {
	display: block;
	margin: 0 auto;
	white-space: nowrap;
	width: 100%;
	justify-content: center;
	overflow-x: hidden;
}

.innerWrapper {
	position: relative;
	margin-top: $header-height;
	display: inline-block;
	margin-left: -4px; // For inline blocks
	overflow: hidden;
	width: 100%;
	min-height: calc(100vh - #{$header-height});
	vertical-align: top;
	@include desktop-tablet-sm {
		width: calc(100% - #{$navigation-width});
	}
}
