@import '../../styles/index.scss';

.commentSection {
	background-color: rgba(0,0,0, 0.1);
	padding-bottom: $header-spacing * 4;

	&__highlightedLink {
		&:link,
		&:visited {
			color: $primary
		}
	}
}

.commentForm {
	> section {
		margin-bottom: 20px;
	
		> div:first-child {
			margin-bottom: 10px;
		}
	}
}

.noComment {
	align-self: center;
}
