@import '../../styles/index.scss';

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	z-index: 2;
	overflow: hidden;
	border-radius: 5px;

	&Thumbnail {
		&Edit {
			@include dark-overlay;

			input {
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				cursor: pointer;
			}

			> svg {
				position: absolute;
			}
		}

		&DraggingOver {
			opacity: 1;
		}

	}
}

.thumbnail {
	width: 100%;
}

.innerWrapper {
	z-index: 1;
	background: rgba(0,0,0,0.5);
	width: 100%;
	transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.owner .backdrop:hover {
	transition: 0.3s;
	opacity: 0.8;
	cursor: pointer;
}
