@import '../../styles/index.scss';

.wrapper {
	display: flex;
	height: 100vh;
	width: 100%;
	background-color: $background;
	color: $dark;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.title {
	background-color: $darker;
	padding: $header-spacing/2 $header-spacing;
	border-radius: $header-spacing / 2;
	font-size: $logo-font-size;
	color: $background;
	margin: $header-spacing;
}
