@import '../../styles/index.scss';

.item {
	@include noselect;
	cursor: pointer;
	font-size: 1rem;
	display: block;
	padding: $header-spacing / 2;

	&Heading {
		transition: 0.2s;
		color: rgba($secondary, 0.6);
	}

	&List {
		list-style-type: none;
		background-color: rgba(0,0,0,0.15);

		&Closed {
			display: none;
		}
	}

	&:hover {
		> .itemHeading {
			color: $secondary;
		}
	}
}

.icon {
	margin-right: $header-spacing / 2;
}
