@import '../../styles/index.scss';

.logo {
	display: flex;
	align-items: center;
	margin-right: auto;

	&Image {
		width: $header-height / 2;
		height: $header-height / 2;
	}

	&Text {		
		display: inline-block;
		font-size: $logo-font-size * 0.8;
		margin-left: $header-spacing * 0.6;
		font-weight: normal;
		color: $primary;
		text-transform: lowercase;
	}

	@include mobile-sm {
		margin: 0;
		&Text {
			display: none;
		}

	}
}

.svg1 {
	fill: $darker;
}

.svg2 {
	fill: $primary;
}
