@import "../styles/index.scss";

.wrapper {
    display: block;
    margin: 0 auto;
    white-space: nowrap;
    width: 100%;
    justify-content: center;
}

.higherOrder {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.lowerOrder {
    @include mobile-all {
        white-space: nowrap;
        overflow-x: hidden;
        max-width: $wrapper-width;
        margin: 0 auto;
    }
    @include desktop-tablet-sm {
        align-items: center; 
        display: flex;
        justify-content: center;
    }
}

.hasScroll {
    width: calc(100vw - 14px) !important;
}
