@import "../styles/index.scss";

.app {
    overflow: hidden;
}

.wrapper {
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100vw;

    &Content {
        display: inline-block;
        width: 100vw;
        position: relative;
    }

    &SideNavigation {
        vertical-align: top;
        display: inline-block;
    }
}


