h1 {
    color: green;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    align-items: center;
    text-align: right;
    background-color: antiquewhite;
}
