@import '../pages/home/test.scss';

body {
    margin: 0;
    padding: 0;
}

.testa {
    color: blue;
}

.testb {
    color: red;
    text-align: center;
    font-size: 62px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
  }


