@import '../../styles/index.scss';

.stdBgWhite {
	background-color: white;
}

.container {
	align-items: center;
	padding: $header-spacing;
	border: 4px dotted $background-darker;
	background-color: rgba($background, 0.4);
	margin: $header-spacing auto 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

.title {
	color: #4D4D4D;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}

.insertButton {
	@mixin insertbutton($color) {
		&::before {
			content: '+';
			margin-right: 3px;
		}
		transition: 0.2s;
		opacity: 0.7;
		border-bottom: 2px solid transparent;
		font-weight: bold;
		display: flex;
		color: $color;
		justify-content: center;
		align-items: center;
		margin: 0 calc(#{$header-spacing} / 2) -2px;
		cursor: pointer;
		&:hover {
			transition: 0.2s;
			opacity: 1;
			border-bottom: 2px solid $color;
		}
	}
	
	&Heading {
		@include insertbutton($primary);
	}

	&Paragraph {
		@include insertbutton(#4D4D4D);
	}

	&Code {
		@include insertbutton(#9c1ec4);
	}

	&Img {
		@include insertbutton(#1EB5C4);
	}

	&Eye {
		@include insertbutton(#FFF);
		width: 46px;
		height: 46px;
		margin-left: 15px;
		color: $primary;
		font-size: 1.6rem;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.saveContainer {
	background: $primary;
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.save{
	position: relative;
	width: fit-content;
	padding: 0 60px;
}

.saveButton {
	width: fit-content;
	height: fit-content;
	background-color: #262626;
	color: white;
	border-radius: 30px;
	padding: 10px 40px;
	font-weight: bold;
	font-size: 1rem;
	transition: all .2s ease-in-out;
	cursor: pointer;
	list-style-type: none;
}
