@import '../../styles/index.scss';

.stdBgWhite {
	background-color: white;
}

.renderWrapper {
	min-height: 50vh;
}

.container {
	align-items: center;
	padding: $header-spacing 0;
	margin-top: $header-spacing * 2;
	border-top: 2px solid $background-darker;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	
	&Text {
		margin-right: $header-spacing;
		font-weight: bold;
		font-size: 1.1rem;
	}
}

.title {
	color: #4D4D4D;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}

.insertButton {
	@mixin insertbutton($color) {
		&::before {
			content: '+';
			margin-right: 3px;
		}
		letter-spacing: 1px;
		border-radius: 999px;
		background-color: $color;
		transition: 0.2s;
		font-weight: bold;
		display: flex;
		color: white;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		line-height: 1rem;
		padding: ($header-spacing * 0.6) $header-spacing;
		margin: 0 calc(#{$header-spacing} / 2) -2px;
		cursor: pointer;
		&:hover {
			transition: 0.2s;
			transform: scale(1.05, 1.05);
		}
		@include noselect;
	}
	
	&Heading {
		@include insertbutton($primary);
	}

	&Paragraph {
		@include insertbutton(#4D4D4D);
	}
}

.saveContainer {
	background: $primary;
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.save{
	position: relative;
	width: fit-content;
	padding: 0 60px;
}

.publish {
	&Button {
		width: fit-content;
		height: fit-content;
		color: white;
		border-radius: 30px;
		padding: 10px 40px;
		margin-bottom: $header-spacing * 2;
		font-weight: bold;
		font-size: 1rem;
		letter-spacing: 1px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		list-style-type: none;
	}
	&ed {
		background-color: rgba(0,0,0,0.25);
	}
}
