@import '../../styles/index.scss';

.stdBgWhite {
	background-color: white;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-top: 15px;
}

.title {
	color: #4D4D4D;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}

.insertButton {
	@mixin insertbutton($color) {
		margin: 0 5px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		color: #fff;
		font-weight: bold;
		display: flex;
		background: $color;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	
	&Title {
		@include insertbutton($primary);
	}

	&Text {
		@include insertbutton(#4D4D4D);
	}

	&Img {
		@include insertbutton(#1EB5C4);
	}

	&Eye {
		@include insertbutton(#FFF);
		width: 46px;
		height: 46px;
		margin-left: 15px;
		color: $primary;
		font-size: 1.6rem;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.saveContainer {
	background: $primary;
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.save{
	position: relative;
	width: fit-content;
	padding: 0 60px;
}

.saveButton {
	width: fit-content;
	height: fit-content;
	background-color: #262626;
	color: white;
	border-radius: 30px;
	padding: 10px 40px;
	font-weight: bold;
	font-size: 1rem;
	transition: all .2s ease-in-out;
	cursor: pointer;
	list-style-type: none;
}
