.loweropacity {
    opacity: 0.5;
    transition: 0.15s;
}

// Grid sizes
.gridsize-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gridsize-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gridsize-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gridsize-1 {
    grid-template-columns: 1fr;
}

// Grid block sizes
.sm-block-size {
    grid-row: auto / span 1;
    grid-column: auto / span 1;
}

.md-block-size {
    grid-row: auto / span 1;
    grid-column: auto / span 2;
}

.lg-block-size {
    grid-row: auto / span 2;
    grid-column: auto / span 2;
}

.xl-block-size {
    grid-row: auto / span 2;
    grid-column: auto / span 3;
}