@import '../../styles/index.scss';

.main {
	position: relative;
	z-index: 1;
	justify-content: center;
	align-items: center;
	margin: $header-height auto 0;
	width: 100%;

	@include mobile-all-portrait {
		width: 100%;
	}
}
