@import '../../styles/index.scss';


.Item {
    @include noselect;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.2s;
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    &Heading {
        color: white;
        padding: $header-spacing;
    }
    &List {
        list-style-type: none;
        background-color: rgba(0,0,0,0.15);
        &Closed {
            display: none;
        }
    }
    &Sub {
        padding: $header-spacing;
        padding-left: $header-spacing * 1.75;
        &:not(:last-child) {
            padding-bottom: 0;
        }
        &Link {
            text-decoration: none;
            color: white;
        }
    }
}

.arrow {
    float: right;
}
