@import '../../styles/index.scss';

.settingsContainer {
	.settingsElement {
		display: flex;
		width: 100%;
		justify-content: center;
		vertical-align: middle;

		.key {
			margin: auto 0 auto 0;
			width: 20%;
			text-align: center;
		}

		div {
			width: 20%;
			display: flex;
			justify-content: center;
		}
	}
}
