@import '../../styles/index.scss';

.settingsContainer {
	width: 100%;
	display: flex;
	justify-content: center;

	.settingsElement {
		align-items: center;
		display: flex;

		.key {
			display: inline;
			margin-right: 20px;
		}
	}
}
