@import '../../styles/index.scss';

$tooltip-hover: #EFEFEF;
$height: 34px;
$width: 36px;

.draftJsButton {
	background-color: #fbfbfb;
	color: #888;
	font-size: 18px;
	border: 0;
	vertical-align: bottom;
	height: $height;
	width: $width;

	&:hover, &:focus {
		background: $tooltip-hover;
		outline: 0;
	}

	> figure {
		display: flex;
		justify-content: center;

		> img {
			width: $width;
			height: $height;
		}
	}
}
