@import '../../styles/index.scss';

.wrapper {
	width: 100%;
	padding: $header-spacing;
	max-width: $wrapper-width;
}

.innerWrapper {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;
}

.statistic {
	align-self: center;
	display: inline-block;
	width: 23%;
	&:nth-child(4) {
		margin-right: 0;
	}

	@include mobile-all-portrait {
		padding-bottom: 0;
	}
}
