@import '../../styles/index.scss';

.wrapper {
	background-color: blue;
	width: 50%;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	max-width: 100%;
	display: inline-block;
	background-color: red;
	font-size: 36px;
}
