@import '../../styles/index.scss';

$profile-bar-image-size: 40px;

.postInfo {
	display: flex;
	align-items: center;
	width: fit-content;
	flex-wrap: wrap;
	pointer-events: initial;

	&Category {
		color: $primary;
		display: flex;
		font-size: $nr-xs-fontsize;
		align-items: center;

		&Bullet {
			margin-right: 10px;
			font-size: .7em;
			display: flex;
			margin-top: 1px;
		}

		&:hover {
			> p > span {
				width: 100%;
			}
		}

		> p {
			position: relative;

			> span {
				@include fancy-underline;
			}
		}
	}

	&Text {
		font-size: $nr-xs-fontsize;
		font-weight: 300;
		display: flex;

		&Icon {
			font-size: .8em;
			margin-right: 10px;
			display: flex;
			align-items: center;
		}
	}

	&Bullet {
		font-size: .9em;
		margin: 0 10px;
	}

	&Views {
		display: flex;
	}

	&Light {
		.postInfo {
			&Text {
				color: $dark-light;
				opacity: .8;
			}

			&Bullet {
				color: white;
				opacity: .4;
			}
		}
	}

	&Dark {
		.postInfo {
			&Text {
				color: $secondary;
				opacity: .8;
			}

			&Bullet {
				color: $secondary;
				opacity: .4;
			}
		}
	}

	@include mobile-all() {
		.postInfo {
			div:not(.postInfoCategory) {
				display: none;
			}

			&Category {
				&Bullet {
					font-size: .5em;
					vertical-align: 0;
				}
			}

			&Bullet {
				display: none;
			}
		}
	}
}
