@import '../../styles/index.scss';

.navigation {
	transition: 1s;
	max-width: $wrapper-width;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	pointer-events: initial;
}

.sNavOpen {
	@include mobile-all-portrait {
		transition: 1s;
		width: 325px;
		max-width: 75vw;
	}
}

.menu {
	width: 325px;
	max-width: 75vw;
	margin-top: $header-spacing;
	border-radius: 5px;
	overflow: hidden;
	background-color: $background;
	padding: $header-spacing / 2;
	
	&Ul {
		list-style-type: none;
		text-transform: capitalize;
		font-size: 0.8em;
		font-family: $navigationfont, 'Times New Roman', Times, serif;
	}
}
