@import '../../styles/index.scss';

.wrapper {
    margin-top: $header-height;
    display: inline-block;
    margin-left: -4px; // For inline blocks
    overflow: auto;
    width: 100%;
    @include desktop-tablet-sm {
        width: calc(100% - #{$navigation-width});
    }
}

.main {
    position: relative;
    z-index: 1;
    margin-top: $header-height;
    width: 100%;
    max-width: $wrapper-width;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.grid {
    padding: 0 $header-spacing $header-spacing;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($grid-block-size, 1fr));
    grid-auto-rows: $grid-block-size;
    grid-gap: $grid-block-gap;
}

.dummyBlock {
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    padding: 20px;
    text-transform: capitalize;
    color: white;
    background-color: red;
    > p {
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
