@import '../../styles/variables';
.main {
    display: inline-block;
    margin-left: -4px; // Because inline-block adds 4px spacing
    margin-top: $header-height;
    width: 100%;
    max-width: $wrapper-width;
    padding: 0 $header-spacing;
    overflow-x: hidden;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($grid-block-size, 1fr));
    grid-auto-rows: $grid-block-size;
    grid-gap: $grid-block-gap;
}

.dummyBlock {
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    padding: 20px;
    text-transform: capitalize;
    color: white;
    background-color: red;
    > p {
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
