@import '../../styles/index.scss';

.button {
	transition: 0.2s;
	cursor: pointer;
	font-family: $mainfont, $sidefont;
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 10px 25px;
	border: none;
	border-radius: 48px;
	color: white;
	background-color: $primary;
	display: inline-block;
	list-style-type: none;
}

.pulse {
	&:hover {
		transition: 0.2s;
		@include pulse($primary);
	}
}

.disabled {
	background-color: $nav-items !important;
}

.inverted {
	background-color: $background;
	color: $gray;

	&:hover {
		animation: none;
		color: $dark;
	}
}

.iconWithText {
	.icon {
		margin-right: 10px;
	}
}

.iconWithoutText {
	padding: 10px 15px;
}
