@import '../../styles/index.scss';

.navigation {
	transition: 1s;
	width: 0;
	max-width: 0;
	overflow-x: hidden;
	background-color: $darker;
	height: 100vh;
	z-index: -1;
	position: fixed;
	pointer-events: auto;
}

.filler {
	// Added everything necessary to hide and
	// disable the header for maximum ensurance
	opacity: 0 !important;
	visibility: hidden !important;
	position: static !important;
	pointer-events: none !important;
	z-index: 0 !important;
	display: inline-block;
}

.sNavOpen {
	@include mobile-all {
		transition: 1s;
		width: 325px;
		max-width: 75vw;
	}
}

.menu {
	width: 325px;
	max-width: 75vw;
	
	&Ul {
		list-style-type: none;
		text-transform: capitalize;
		font-size: 0.8em;
		font-family: $navigationfont, 'Times New Roman', Times, serif;
	}
}
