@import '../../styles/index.scss';

.input {
	width: 100%;
	font-family: Poppins;
	font-size: 1rem;
	height: 1.6rem;
	color: #7f7f7f;
	border: none;
	border-bottom: 1px solid gray;
	cursor: text;

	@include mobile-all-portrait {
		background-color: transparent;
		color: $darker;
		display: flex;
		padding: 0;
		margin: 0;
		border-bottom: 2px solid rgba(0, 0, 0, 0.4);
		height: 40px;
		font-size: 20px;
		width: 100%;
	}

	@include mobile-xs {
		font-size: 15px;
		height: 30px;
	}
}

.label {
	align-items: center;
	display: flex;
	color: gray;
	font-size: 0.9rem;
	line-height: 0.9rem;
	margin-bottom: 5px;

	@include mobile-all-portrait {
		font-size: 1rem;
		color: $darker;
		font-weight: bold;
	}

	@include mobile-xs {
		font-size: 0.9rem;
	}
}

.icon {
	font-size: 0.9rem;
	margin-right: 5px;
	background-color: white;
	border-radius: 100%;

	@include mobile-all-portrait {
		font-size: 1rem;
	}

	@include mobile-xs {
		font-size: 0.9rem;
	}

	&Check {
		color: $success;
	}

	&Times {
		color: $failure;
	}

	&Password {
		color: gray;
		background-color: transparent;
		margin-right: 0;
		position: absolute;
		right: 0;
		font-size: 1.2rem;
		cursor: pointer;

		&:hover {
			color: black;
			transition: 0.2s;
			transform: scale(1.2, 1.2);
		}

		&Wrapper {
			position: relative;
			display: flex;
			align-items: center;
		}
	}
}

.toolTip {
	min-width: 200px;

	&Ul {
		padding: 5px 0;
		width: 100%;
		list-style-type: none;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&Li {
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
}
