@import '../../styles/index.scss';

* {
	transition: all .2s ease-in-out;
}

.large {
	max-width: 100%;
	position: relative;
	height: 449px;

	&:hover {
		.largeThumbnailOverlay {
			.largeDescription {
				@include fade-in();
				opacity: 1;
				margin-top: 20px;
				margin-bottom: 30px;
				visibility: visible;
				max-height: 500px;
				transition: max-height 1s ease-in;
			}
		}
	}

	&Thumbnail {
		position: relative;
		height: 100%;

		&Overlay {
			display: flex;
			flex-direction: column;
			position: absolute;
			bottom: 0;
			min-height: 52%;
			background: $secondary;
			width: 100%;
			max-height: 100%;
			background: linear-gradient(0deg, rgba($secondary, .9) 0%, rgba($secondary, .6) 70%, rgba($secondary, 0) 100%);
			padding: 50px 28px 0;
			max-width: inherit;

			&Title {
				margin-top: auto;
				font-size: 2.75em;
				line-height: 1.1em;
				white-space: pre-line;
				color: white;
				font-weight: 600;
			}
		}
	}

	.largeDescriptionDesktop {
		display: block;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: all 1s ease-in-out, visibility 0s, max-height .8s ease-out;
		p {
			color: $dark-light;
			font-size: 1.3em;
		}
	}

	.largeDescription {
		p {
			white-space: normal;
		}
	}

	.largeBottomSmartphone {
		display: none;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@include mobile-all() {
		width: 100%;
		height: fit-content;
		max-height: initial;

		.largeThumbnailOverlay {
			padding: 50px 12px 16px;

			&Title {
				font-size: 1.9em;
			}

			.largeThumbnailOverlayDesktop {
				display: none;
			}
		}

		.largeBottomSmartphone {
			display: block !important;
		}

		.largeDescriptionSmartphone {
			p {
				color: #68677D;
				font-size: 1.3em;
			}
		}
	}
}
