@import '../../styles/index.scss';

* {
	transition: all .2s ease-in-out;
}

.large {
	max-width: 100%;
	position: relative;
	height: 449px;

	&:hover {
		.largeOverlay {
			&Description {
				@include fade-in();
				opacity: 1;
				margin-top: 20px;
				margin-bottom: 30px;
				visibility: visible;
				max-height: 500px;
				transition: max-height 1s ease-in;
			}
		}
	}

	@include mobile-all() {
		
	}

	&Overlay {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 0;
		min-height: 52%;
		background: $secondary;
		background: linear-gradient(0deg, rgba($secondary, .9) 0%, rgba($secondary, .6) 70%, rgba($secondary, 0) 100%);
		padding: 50px 28px 0;
		max-width: inherit;

		&Title {
			margin-top: auto;
			font-size: 2.75em;
			line-height: 1.1em;
			white-space: pre-line;
			color: white;
			font-weight: 600;
		}

		&Description {
			display: block;
			opacity: 0;
			max-height: 0;
			overflow: hidden;
			transition: all 1s ease-in-out, visibility 0s, max-height .8s ease-out;

			p {
				color: $dark-light;
				white-space: normal;
				font-size: 1.3em;
			}
		}

		&Bottom {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
			margin-bottom: 15px;
			height: fit-content;

			&Info {
				display: flex;
				align-items: center;

				& > * {
					margin-right: 12px;
				}

				&Category {
					color: $primary;
					display: flex;
					font-size: 1.2em;
					align-items: center;

					&Bullet {
						&Icon {
							margin-right: 12px;
							font-size: .7em;
						}
					}
				}

				&Text {
					color: $light-gray;
					font-size: 1.2em;
					font-weight: 300;
					display: flex;

					&ReadingTime {
						font-size: .8em;
						margin-right: 4px;
						display: flex;
						align-items: center;
					}
				}

				&Bullet {
					color: $light-gray;
					opacity: .8;
				}
			}

			&Bookmark {
				cursor: pointer;
				display: flex;
				color: $dark-light;
				align-items: center;
				font-size: 1.5em;
				margin-top: 2px;
			}
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
