@import '../../styles/index.scss';

.large {
	max-width: 100%;
	position: relative;
	max-height: inherit;

	&Overlay {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 0;
		height: 52%;
		background: $secondary;
		background: linear-gradient(0deg, rgba($secondary, .9) 0%, rgba($secondary, .6) 60%, rgba($secondary, 0) 100%);
		padding: 0 28px;

		&Title {
			margin-top: auto;
			margin-bottom: 18px;
			font-size: 2.4em;
			line-height: 1.35em;
			white-space: pre-line;
			color: white;
		}

		&Bottom {
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
			height: fit-content;

			&Info {
				display: flex;
				align-items: center;

				& > * {
					margin-right: 12px;
				}

				&Category {
					margin-top: auto;
					color: $primary;
					display: flex;
					align-items: center;

					&Bullet {
						font-size: 3em;
						line-height: .3em;
						margin-right: 8px;
					}
				}

				&Text {
					color: $light-gray;
				}

				&Bullet {
					color: $light-gray;
				}
			}
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
