@import '../../styles/index.scss';

$post-padding: 20px;

* {
	transition: all .2s ease-in-out;
}

.bookmark {
	cursor: pointer;
	display: flex;
	color: white;
	opacity: .8;
	align-items: center;
	font-size: 1.1em;
	transform: translateY(2px);
	pointer-events: initial;
	margin-left: auto;

	&Hover {
		display: none;
		position: absolute;
		right: 0;
		margin: $post-padding $post-padding 0;
	}

	&:hover {
		color: $primary;
	}
}

.goTo {
	display: none;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
	font-size: $nr-xxs-fontsize;
	pointer-events: initial;
	color: $primary;
	margin-left: 20px;
	transform: translateY(1px);
	@include fade-in();

	p {
		width: fit-content;
	}

	&Icon {
		margin-left: 20px;
		transform: translateY(1px);
	}

	&:hover {
		text-decoration: underline;
	}
}

.large {
	position: relative;
	height: 336px;
	max-width: 100%;

	&Thumbnail {
		position: relative;
		height: 100%;

		&Content {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			bottom: 0;
			width: 100%;
			max-width: inherit;
			max-height: 100%;
			min-height: 52%;
			background: $secondary;
			background: linear-gradient(0deg, rgba($secondary, .9) 0%, rgba($secondary, .6) 70%, rgba($secondary, 0) 100%);
			padding: 50px $post-padding 0;
			line-height: 22px;
			pointer-events: none;

			&Title {
				margin-top: auto;
				font-size: $nr-lg-fontsize;
				line-height: 36px;
				white-space: pre-line;
				color: white;
				font-weight: 600;
			}

			&Description {
				display: block;
				opacity: 0;
				max-height: 0;
				white-space: normal;
				overflow: hidden;
				transition: all 1s ease-in-out, visibility 0s, max-height .8s ease-out;

				p {
					color: $light;
					opacity: .9;
					font-size: $nr-md-fontsize;
				}
			}

			&Bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 15px;
				margin-bottom: 10px;
				flex-wrap: wrap;
				pointer-events: none;

				&Info {
					display: flex;
					align-items: center;
					width: fit-content;
					flex-wrap: wrap;
					pointer-events: initial;

					& > * {
						margin-right: 10px;
					}

					&Category {
						color: $primary;
						display: flex;
						font-size: $nr-xs-fontsize;
						align-items: center;

						&Bullet {
							margin-right: 10px;
							font-size: .7em;
							display: flex;
							margin-top: 1px;
						}

						&:hover {
							text-decoration: underline;
						}
					}

					&Text {
						color: $dark-light;
						opacity: .7;
						font-size: $nr-xs-fontsize;
						font-weight: 300;
						display: flex;

						&Icon {
							font-size: .8em;
							margin-right: 3px;
							display: flex;
							align-items: center;
						}
					}

					&Bullet {
						color: white;
						opacity: .4;
						font-size: .9em;
					}
				}
			}
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&Bottom {
		display: none;

		&Title {
			margin-top: 10px;
			font-size: $nr-xm-fontsize;
			color: $secondary;
			white-space: initial;
		}

		.goTo {
			margin-top: 6px;
			font-size: 1em;
			display: flex;

			p {
				display: none;
			}

			&Icon {
				margin-left: 0;
			}
		}
	}

	&:hover {
		.large {
			&Thumbnail {
				&Content {
					&Description {
						opacity: 1;
						margin-top: 15px;
						margin-bottom: 25px;
						visibility: visible;
						max-height: 500px;
						transition: max-height 1s ease-in;
						@include fade-in();
					}

					&Bottom {
						.bookmark {
							display: none;
						}

						.goTo {
							display: flex;
						}
					}
				}

				.bookmark {
					&Hover {
						display: initial;
						@include fade-in();
					}
				}
			}
		}
	}

	@include mobile-tablet() {
		height: 274px;

		.large {
			&Thumbnail {
				&Content {
					&Title {
						font-size: $nr-xm-fontsize;
					}

					&Bottom {
						margin-top: 10px;
					}
				}
			}
		}

		&:hover {
			.large {
				&Thumbnail {
					&Content {
						&Description {
							display: none;
						}

						&Bottom {
							.bookmark {
								display: flex;
							}

							.goTo {
								display: none;
							}
						}
					}

					.bookmark {
						&Hover {
							display: none;
						}
					}
				}
			}
		}
	}

	@include mobile-all() {
		height: fit-content;

		.large {
			&Thumbnail {
				&Content {
					padding: 50px calc(#{$post-padding} / 2) 0;

					&Title {
						display: none;
					}

					&Bottom {
						&Info {
							div:not(.largeThumbnailContentBottomInfoCategory) {
								display: none;
							}

							&Category {
								&Bullet {
									font-size: .5em;
									vertical-align: 0;
								}
							}

							&Bullet {
								display: none;
							}
						}
					}
				}
			}

			&Bottom {
				display: block;
			}
		}

		&:hover {
			.bookmark {
				&Hover {
					display: none;
				}
			}
		}
	}
}
