@import '../../styles/index.scss';

* {
	transition: all .2s ease-in-out;
}

.large {
	max-width: 100%;
	position: relative;
	height: 449px;

	&Thumbnail {
		position: relative;
		height: 100%;

		&Content {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: absolute;
			bottom: 0;
			min-height: 52%;
			background: $secondary;
			width: 100%;
			max-height: 100%;
			background: linear-gradient(0deg, rgba($secondary, .9) 0%, rgba($secondary, .6) 70%, rgba($secondary, 0) 100%);
			padding: 50px 28px 0;
			max-width: inherit;
			pointer-events: none;

			&Title {
				margin-top: auto;
				font-size: 2.75em;
				line-height: 1.1em;
				white-space: pre-line;
				color: white;
				font-weight: 600;
			}
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.largeDescriptionDesktop {
		display: block;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: all 1s ease-in-out, visibility 0s, max-height .8s ease-out;

		p {
			color: $dark-light;
			font-size: 1.3em;
		}
	}

	.largeDescription {
		p {
			white-space: normal;
		}
	}

	.largeBottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 15px;
		flex-wrap: wrap;
		pointer-events: none;

		&Bookmark {
			cursor: pointer;
			display: flex;
			color: $dark-light;
			align-items: center;
			font-size: 1.5em;
			margin-top: 2px;
			pointer-events: initial;

			&:hover {
				color: $primary;
			}
		}
	}

	.largeBottomSmartphone {
		display: none;

		.largeBottomSmartphoneInfoWrapper {
			display: flex;
			justify-content: space-between;
			margin: 20px 0;
		}
	}

	&:hover {
		.largeThumbnailContent {
			.largeDescription {
				@include fade-in();
				opacity: 1;
				margin-top: 20px;
				margin-bottom: 30px;
				visibility: visible;
				max-height: 500px;
				transition: max-height 1s ease-in;
			}
		}
	}

	@include mobile-all() {
		width: 100%;
		height: fit-content;
		max-height: initial;

		.largeThumbnailContent {
			padding: 50px 12px 16px;

			&Title {
				font-size: 1.9em;
			}

			.largeThumbnailContentDesktop {
				display: none;
			}
		}

		.largeBottomDesktop {
			display: none;
		}

		.largeBottomSmartphone {
			display: block;
		}

		.largeDescriptionSmartphone {
			p {
				color: $text;
				font-size: 1.3em;
			}

			&GoToBtn {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				cursor: pointer;
				margin-top: 15px;

				p {
					color: $primary-light;
					width: fit-content;
				}

				&Icon {
					margin-left: 1.4em;
					color: $primary-light;
				}

				&:hover {
					.largeDescriptionSmartphoneGoToBtn {
						&Icon {
							transform: translateX(-.4em);
						}
					}
				}
			}
		}
	}
}
