@import '../../styles/index.scss';

$post-padding: 20px;

* {
	transition: all .2s ease-in-out;
}

.large {
	max-width: 100%;
	position: relative;
	height: 336px;

	&Thumbnail {
		position: relative;
		height: 100%;

		&Content {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: absolute;
			bottom: 0;
			min-height: 52%;
			background: $secondary;
			width: 100%;
			max-height: 100%;
			background: linear-gradient(0deg, rgba($secondary, .9) 0%, rgba($secondary, .6) 70%, rgba($secondary, 0) 100%);
			padding: 50px $post-padding 0;
			max-width: inherit;
			line-height: 22px;
			pointer-events: none;

			&Title {
				margin-top: auto;
				font-size: $nr-lg-fontsize;
				line-height: 36px;
				white-space: pre-line;
				color: white;
				font-weight: 600;
			}
		}

		.largeBookmarkHover {
			display: none;
			position: absolute;
			right: 0;
			margin: $post-padding $post-padding 0;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.largeDescriptionDesktop {
		display: block;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: all 1s ease-in-out, visibility 0s, max-height .8s ease-out;

		p {
			color: $dark-light;
			font-size: $nr-md-fontsize;
		}
	}

	.largeDescription {
		p {
			white-space: normal;
		}
	}

	.largeBottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 15px;
		margin-bottom: 10px;
		flex-wrap: wrap;
		pointer-events: none;
	}

	.largeBookmarkIcon {
		cursor: pointer;
		display: flex;
		color: $dark-light;
		align-items: center;
		font-size: 1.1em;
		transform: translateY(2px);
		pointer-events: initial;

		&:hover {
			color: $primary;
		}
	}

	.largeGoTo {
		display: none;
		justify-content: flex-end;
		align-items: center;
		cursor: pointer;
		font-size: $nr-xxs-fontsize;
		pointer-events: initial;
		color: $primary;
		@include fade-in();

		p {
			width: fit-content;
		}

		&Icon {
			margin-left: 20px;
			transform: translateY(1px);
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.largeBottomSmartphone {
		display: none;

		.largeBottomSmartphoneInfoWrapper {
			display: flex;
			justify-content: space-between;
			margin: $post-padding 0;
		}
	}

	&:hover {
		.largeThumbnailContent {
			.largeDescription {
				opacity: 1;
				margin-top: 15px;
				margin-bottom: 25px;
				visibility: visible;
				max-height: 500px;
				transition: max-height 1s ease-in;
				@include fade-in();
			}

			.largeBottomDesktop {
				.largeBookmark {
					display: none;
				}

				.largeGoTo {
					display: flex;
				}
			}
		}

		.largeBookmarkHover {
			display: initial;
			@include fade-in();
		}
	}

	@include mobile-tablet() {
		height: 274px;

		.large {
			&Thumbnail {
				&Content {
					&Title {
						font-size: $nr-xm-fontsize;
					}
				}
			}

			&Bottom {
				margin-top: 10px;
			}
		}
	}

	@include mobile-all() {
		width: 100%;
		height: fit-content;
		max-height: initial;

		.largeThumbnailContent {
			padding: 50px 12px 16px;

			&Title {
				//font-size: 1.9em;
			}

			.largeThumbnailContentDesktop {
				display: none;
			}
		}

		.largeBottomDesktop {
			display: none;
		}

		.largeBottomSmartphone {
			display: block;
		}

		.largeDescription {
			&Text {
				color: $text;
				//font-size: 1.3em;
			}

			.largeGoTo {
				margin-top: 15px;
				//font-size: 1.3em;
				display: flex;
				color: $primary-light;

				&Icon {
					margin-left: 1.4em;
				}
			}
		}

		&:hover {
			.largeBookmarkHover {
				display: none;
			}
		}
	}
}
