@import '../../styles/index.scss';

.article {
	position: relative;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	min-width: calc(100% / 4 - #{$header-spacing} / 4 * 3);
	padding-top: calc(100% / 4 - #{$header-spacing} / 4 * 3);
	margin-bottom: $header-spacing;
	background-color: rgba($secondary, 0.1);
	border-radius: 5px;

	&:not(.filler)::before {
		@include post-blocks-overlay;
	}

	&:nth-child(n+9) {
		display: none;
	}

	@include mobile-all {
		min-width: calc(100% / 3 - #{$header-spacing} / 3 * 2);
		padding-top: calc(100% / 3 - #{$header-spacing} / 3 * 2);
		margin-bottom: $header-spacing;

		&:nth-child(n+7) {
			display: none;
		}
	}

	@include mobile-xs {
		min-width: calc(100% / 2 - #{$header-spacing} / 2 * 1);
		padding-top: calc(100% / 2 - #{$header-spacing} / 2 * 1);
		margin-bottom: $header-spacing;

		&:nth-child(n+5) {
			display: none;
		}
	}

	&Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: 0.2s;

		&:hover { 
			background-color: rgba($secondary,0.25);

			.articleWrapperText {
				opacity: 1;
				background-color: rgba($secondary,0);
			}

			.articleWrapperStatsLikes {
				background-color: rgba($secondary,0);
			}
		}

		&Text {
			transition: 0.3s;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			transition: 0.2s;
			text-shadow: 0 0 5px $secondary;
			color: white;
			white-space: normal;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 5%;
			text-overflow: ellipsis;
			word-break: break-word;
			white-space: nowrap;
			
			&Title {
				overflow: hidden;
				text-overflow: ellipsis;
				max-height: 1.6rem;
				font-size: 0.8rem;
			}
		}

		&Stats {
			color: $primary;
			margin: 5%;
			font-size: 1.1rem;

			&Likes {
				transition: 0.3s;
				display: inline-flex;
				padding: 2% 4%;
				border-radius: 10%;
				align-items: center;
				margin-left: auto;
				background-color: rgba($secondary,0.5);
				&Text {
					margin-left: 0.5rem;
					font-size: 0.9rem;
					color: white;
				}
			}
		}
	}
}

.filler {
	cursor: default;
}
