@import '../../styles/index.scss';

.wrapper {
	opacity: 0.35;
	width: 100%;
	max-width: $wrapper-width;
	margin: 0 auto;
	padding: 0 $header-spacing;
	padding-top: $header-spacing * 4;
	white-space: normal;

	@include mobile-all-portrait {
		padding-top: $header-spacing * 2;
		width: 100%;
	}
}

.content {
	margin-top: 4vh;
	min-height: 10vh;

	@include mobile-all-portrait {
		margin-top: 2vh;
		width: 100%;
	}
}

.visible {
	transition: 0.65s;
	opacity: 1;
}
