@import '../../styles/index.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';

.popUpWrapper {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 150;

	> * {
		transition: .2s ease-in-out;
	}

	.popUpBackground {
		width: inherit;
		height: inherit;
		background-color: black;
		opacity: 0.5;
	}

	.popUp {
		@include pop-up();
		height: auto;
		padding: 20px 30px;
		display: flex;
		flex-direction: column;

		&Image {
			width: 70%;
			align-self: center;
			margin: 30px 0 40px;
		}

		&Header {
			display: flex;
			margin-bottom: 10px;
			justify-content: space-between;

			&Title {
				white-space: normal;

				&Icon {
					margin-right: 10px;
				}
			}

			&Close {
				position: absolute;
				top: 20px;
				right: 30px;

				cursor: pointer;
				display: flex;
				margin-left: auto;
				border: none;
				background: none;
				font-size: 1.2em;
				align-items: center;
				padding: 7px 10px;
				transform: translateX(10px);
				color: $primary;
				transition: .2s linear;
				border-radius: 100%;

				&:hover {
					color: white;
					background-color: $primary;
				}
			}
		}

		&Description {
			white-space: normal;
			margin-bottom: 20px;
		}

		&Actions {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 10px;

			&Action {
				margin: 5px 5px;
			}
		}
	}
}
