@import '../../styles/index.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';

@mixin pop-up () {
	position: fixed;
	background-color: white;
	border-radius: 10px;
	z-index: 102;
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: hidden;

	@include mobile-tablet {
		width: 70%;
	}

	@include mobile-all {
		width: 90%;
	}
}

.dialog {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 101;
	
	&Background {
		width: inherit;
		height: inherit;
		background-color: black;
		opacity: 0.5;
	}

	&Wrapper {
		@include pop-up();
		padding: 30px;
	}

	&Header {
		margin-bottom: 30px;
	}

	&Body {
		margin-bottom: 30px;
	}

	&Buttons {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&CancelButton {
		background-color: $light;
		color: $dark;
		margin-right: 10px;

		&:hover {
			animation: none;
			color: black;
		}
	}
}
