@import '../../styles/index.scss';

.header {
	display: flex;
	flex-direction: row;
	@include noselect;
	top: 0;
	background: $background-trans;
	width: 100%;
	justify-content: center;
	height: $header-height;
	pointer-events: auto;

	@include mobile-all {
		justify-content: none;
	}

	&Content {
		display: flex;
		align-items: center;
		padding: $header-spacing;
		width: 100%;
		max-width: $wrapper-width;
		margin: 0 auto;
	}
}

.filler {
	// Added everything necessary to hide and
	// disable the header for maximum ensurance
	@extend .header;
	opacity: 0 !important;
	visibility: hidden !important;
	position: static !important;
	pointer-events: none !important;
	z-index: 0 !important;
	.headerContent {
		padding: $header-spacing 0 !important;
	}
}

.fillerHeightOnly {
	@extend .filler;
	overflow: hidden !important;
	width: 100% !important;
	white-space: nowrap !important;
}

.desktop {
	@include mobile-all {
		display: none !important;
	}
	transition: 1s;
	margin-left: 0;
	margin-top: 0;
	justify-content: none;
}

.hWrap {
	transition: 1s;
	left: $navigation-width;
	top: 0;
	width: calc(100% - #{$navigation-width});
	position: fixed;
	z-index: 100;
}

.sNavOpen {
	transition: 1s;
	left: $navigation-width-expanded;
}

.mobile {
	@include desktop-tablet-sm {
		display: none !important;
	}
	position: fixed;
	z-index: 2;
	justify-content: none;
}

.button {
	margin: 0 $nr-sm-fontsize;
	margin-right: 0;
}

.logo {
	display: inline-block;
	font-size: $logo-font-size;
	line-height: $logo-font-size * 0.75;
	color: $primary;
	text-transform: uppercase;
	
	@include mobile-all {
		font-size: $logo-font-size-sm;
		line-height: $logo-font-size-sm * 0.75;
	}
}

.menu {
	margin-left: auto;

	@include mobile-sm {
		display: none;
	}
	
	&Ul {
		display: flex;
		list-style-type: none;
		font-family: $sidefont;
		font-size: $nr-sm-fontsize;
		text-transform: capitalize;
		align-items: center;
		letter-spacing: 1px;
		font-weight: bold;
	}

	&Item {
		color: rgba(0,0,0,0.6);
		cursor: pointer;

		&:not(:last-child) {
			margin: 0 $nr-sm-fontsize;
		}

		&:last-child {
			margin-left: $nr-sm-fontsize;
		}

		&:hover {
			transition: 0.2s;
			color: rgba(0,0,0,1);
		}
	}
}

.hamburger {
	margin-right: $header-spacing;
	display: none;

	@include mobile-all {
		display: block;
	}
}
