@import '../../styles/index.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $background;
    z-index: 300;
}

.logo {
    @media screen and (max-width: 800px) {
        font-size: $nr-xxl-fontsize;
        line-height: $nr-xxl-fontsize * 0.75;
    }
    @media screen and (min-width: 801px) {
        font-size: $nr-logo-fontsize;
        line-height: $nr-logo-fontsize * 0.75;
    }
    color: $primary;
    text-transform: uppercase;
}

.menu {
    &__ul {
        display: flex;
        list-style-type: none;
        font-family: $sidefont;
        color: rgba(0,0,0,0.5);
        font-size: $nr-sm-fontsize;
        text-transform: capitalize;
        align-items: center;
        letter-spacing: 1px;
        font-weight: bold;
    }
    &__link {
        margin: 0 $nr-sm-fontsize;
        cursor: pointer;
    }
}
