@import '../../styles/index.scss';

.header {
    @include noselect;
    position: fixed;
    top: 0;
    flex-direction: row;
    background: $background-trans;
    z-index: 300;
    width: 100%;
    justify-content: center;

    &Content {
        display: flex;
        align-items: center;
        padding: 20px;
        width: 100%;
        max-width: $wrapper-width;
        margin: 0 auto;
    }
}

.filler {
    // Added everything necessary to hide and
    // disable the header for maximum ensurance
    opacity: 0;
    visibility: hidden;
    position: static;
    pointer-events: none;
    @extend .header
}

.logo {
    display: inline-block;
    font-size: $logo-font-size;
    line-height: $logo-font-size * 0.75;
    color: $primary;
    text-transform: uppercase;
}

.menu {
    margin-left: auto;
    &__ul {
        display: flex;
        list-style-type: none;
        font-family: $sidefont;
        color: rgba(0,0,0,0.5);
        font-size: $nr-sm-fontsize;
        text-transform: capitalize;
        align-items: center;
        letter-spacing: 1px;
        font-weight: bold;
    }
    &__link {
        margin: 0 $nr-sm-fontsize;
        cursor: pointer;
    }
}
