@import '../../styles/index.scss';

.navigation {
    @include noselect;
    @include mobile-all {
        display: none !important;
    }
    transition: 1s;
    min-width: $navigation-width;
    width: $navigation-width;
    overflow-x: hidden;
    background-color: $darker;
    height: 100vh;
    pointer-events: auto;
}

.wrapper {
    display: flex;
}

.filler {
    // Added everything necessary to hide and
    // disable the header for maximum ensurance
    @include mobile-all {
        display: none !important;
    }
    min-width: $navigation-width;
    width: $navigation-width;
    opacity: 0 !important;
    height: 0;
    visibility: hidden !important;
    position: static !important;
    pointer-events: none !important;
    z-index: 0 !important;
    display: inline-block;
}

.menu {
    &Ul {
        list-style-type: none;
        text-transform: capitalize;
        font-size: 0.8em;
        font-family: $navigationfont, 'Times New Roman', Times, serif;
    }

    &Item {
        font-size: $navigation-width * 0.35;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $navigation-width;
        height: $navigation-width;
        color: $nav-items;
        cursor: pointer;

        &Active {
            transition: 0s;
            background-color: rgba(0,0,0,0.2);
            color: white;
        }

        > p {
            width: 30px;
            height: 30px;
            background-color: $darker;
            border-radius: 100%;
        }

        &:hover {
            transition: 0.2s;
            color: white;
        }
    }
}

.currentHeading {
    margin-top: $header-spacing;
    margin-bottom: $header-spacing;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $dark;
    text-align: center;
}

.menuExpanded {
    background-color: $darkest;
    min-width: $navigation-width-expanded - $navigation-width;
    width: $navigation-width-expanded - $navigation-width;
    height: 100vh;
    padding: $header-spacing;

    &Item {
        font-family: $secondaryfont;
        font-size: 12px;
        transition: 0.2s;
        margin-top: $header-spacing * 0.3;
        border-radius: 3px;
        display: flex;
        padding: 0 ($header-spacing * 0.75);
        align-items: center;
        background-color: $darker;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        height: $navigation-width * 0.8;
        color: white;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            background-color: $primary;
            padding-left: $header-spacing * 1.25;
        }
    }
}

.sNavOpen {
    transition: 1s;
    width: $navigation-width-expanded;
    min-width: $navigation-width-expanded;
}

