@import '../../styles/index.scss';

.navigation {
    @include noselect;
    @include mobile-all {
        display: none !important;
    }
    transition: 1s;
    min-width: $navigation-width;
    width: $navigation-width;
    overflow-x: hidden;
    background-color: $darker;
    height: 100vh;
    pointer-events: auto;
}

.filler {
    // Added everything necessary to hide and
    // disable the header for maximum ensurance
    @include mobile-all {
        display: none !important;
    }
    min-width: $navigation-width;
    width: $navigation-width;
    opacity: 0 !important;
    height: 0;
    visibility: hidden !important;
    position: static !important;
    pointer-events: none !important;
    z-index: 0 !important;
    display: inline-block;
}

.menu {
    &Ul {
        list-style-type: none;
        text-transform: capitalize;
        font-size: 0.8em;
        font-family: $navigationfont, 'Times New Roman', Times, serif;
    }

    &Item {
        font-size: $navigation-width * 0.35;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $navigation-width;
        height: $navigation-width;
        color: rgb(128, 128, 128);
        cursor: pointer;
        > p {
            width: 30px;
            height: 30px;
            background-color: $darker;
            border-radius: 100%;
        }
        &:hover {
            transition: 0.2s;
            color: white;
        }
    }
}

.sNavOpen {
    transition: 1s;
    min-width: 375px;
    width: 375px;
}

