@import '../../styles/index.scss';

.editor {
	background-color: rgba(255, 255, 255, 0.1); 
	padding: 20px;
	border-radius: 5px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

.iconContainer {
	@include noselect;
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
}

.iconContainer:hover {
	cursor: pointer;
}

.iconContainer p {
	margin-left: 10px;
}

.icon {
	background-color: rgb(0, 0, 0);
	color: white;
	border-radius: 30px;
	font-size: 1.5rem;
	padding: 6px;
	width: 1em!important;
}
