@import '../../styles/index.scss';

.wrapper {
	height: calc(50vh + #{$header-height});
	background-color: $darker;
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture {
	@media (orientation: landscape) {
		min-width: 200px;
		min-height: 200px;
		width: 10vw;
		height: 10vw;
	}
	@media (orientation: portrait) {
		width: 20vh;
		height: 20vh;
	}
	box-shadow: 0 0 $header-spacing $darkest;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-color: $darkest;
}

.innerWrapper {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: $header-spacing;
	width: $wrapper-width;
	display: flex;
	@media (orientation: portrait) {
		align-items: center;
		flex-direction: column;
	}
}

.info {
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
	@media (orientation: landscape) {
		min-height: 200px;
		height: 10vw;
		margin-left: $header-spacing * 2;
	}
	@media (orientation: portrait) {
		align-items: center;
		margin-top: $header-spacing;
		text-align: center;
		max-width: 80%;
	}
}

.achieved {
	display: flex;
	@media (orientation: portrait) {
		margin-top: $header-spacing / 2;
	}
}

.level {
	border-radius: 0.25rem;
	display: table;
	align-self: center;
	height: 1.5rem;
	padding: 0 0.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;
	display: block;
	color: white;
	background-color: $primary;
}

.role {
	margin-left: $header-spacing / 2;
	font-weight: normal;
	color: $primary;
	text-shadow: 0 0 $header-spacing $darkest;
}

.name {
	@media (orientation: portrait) {
		text-align: center;
		width: 100%;
	}
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
	font-weight: bold;
	font-size: 3rem;
	text-shadow: 0 0 $header-spacing $darkest;
}
