@import '../../styles/index.scss';

.wrapper {
	position: relative;
	background-position: center;
	background-size: cover;
	height: calc(50vh + #{$header-height});
	background-color: $darker;
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture {
	@media (orientation: landscape) {
		min-width: 200px;
		min-height: 200px;
		width: 10vw;
		height: 10vw;
	}
	@media (orientation: portrait) {
		width: 20vh;
		height: 20vh;
		max-width: 200px;
		max-height: 200px;
	}
	@include box-shadow;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-color: $darkest;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	opacity: 0.75;
	background-color: white;
}

.innerWrapper {
	z-index: 1;
	transition: 0.5s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: $header-spacing;
	width: $wrapper-width;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	@include text-shadow;
	@include desktop-small {
		justify-content: center;
	}
	@media (orientation: portrait) {
		align-items: center;
		flex-direction: column;
	}
}

.info {
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
	@media (orientation: landscape) {
		min-height: 200px;
		height: 10vw;
		padding: 0 $header-spacing * 2;
	}
	@media (orientation: portrait) {
		align-items: center;
		margin-top: $header-spacing;
		text-align: center;
		max-width: 80%;
	}
}

.achieved {
	display: flex;
	margin-top: $header-spacing / 2;
}

.level {
	@include box-shadow;
	border-radius: 0.25rem;
	display: table;
	align-self: center;
	height: 1.5rem;
	padding: 0 0.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;
	display: block;
	color: white;
	background-color: $primary;
}

.role {
	font-size: 1.2rem;
	margin-left: $header-spacing / 2;
	font-weight: normal;
	color: $primary;
	@include text-shadow;
}

.name {
	@media (orientation: portrait) {
		text-align: center;
		width: 100%;
	}
	overflow: hidden;
	margin: -$header-spacing;
	padding: $header-spacing;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: white;
	font-weight: bold;
	font-size: 3rem;
	@include text-shadow;

	&Large {
		font-size: 2.5rem;
	}

	&Medium {
		font-size: 2rem;
	}

	&Small {
		font-size: 1.5rem;
	}
}
