@import '../../styles/index.scss';

.wrapper {
	position: relative;
	background-position: center;
	background-size: cover;
	height: calc(50vh + #{$header-height});
	background-color: $darker;
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture {
	overflow: hidden;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-color: $darkest;
	display: flex;
	justify-content: center;
	min-width: 200px;
	min-height: 200px;
	width: 10vw;
	height: 10vw;
	@include mobile-all-portrait {
		min-width: 0;
		min-height: 0;
		width: 20vh;
		height: 20vh;
		max-width: 80vw;
		max-height: 80vw;
	}
	@include box-shadow;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	opacity: 0.5;
	background-color: white;
}

.innerWrapper {
	z-index: 1;
	transition: 0.5s;
	padding: $header-spacing;
	width: $wrapper-width;
	display: flex;
	align-items: center;
	justify-content: center;
	@include text-shadow;
	@include mobile-all-portrait {
		align-items: center;
		flex-direction: column;
	}
}

.info {
	padding-left: 5%;

	@include mobile-all-portrait {
		padding-left: 0;
		width: 100%;
		height: auto;
		margin-top: $header-spacing;
		text-align: center;
	}
}

.achieved {
	@include mobile-all-portrait {
		align-self: center;
	}
	display: inline-block;
	background-color: rgba(0,0,0,0.75);
	padding: $header-spacing / 2;
	border-radius: $header-spacing / 3;
	margin-top: $header-spacing / 2;
}

.level {
	border-radius: 0.25rem;
	display: inline-block;
	align-self: center;
	height: 1.5rem;
	padding: 0 0.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	background-color: $primary;
	
	@include box-shadow;
	@include mobile-all-portrait {
		display: none;
	}

	&Mobile {
		@extend .level;

		align-self: flex-end;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		display: none;

		@include mobile-all-portrait {
			display: block;
		}
	}
}

.role {
	vertical-align: middle;
	display: inline-block;
	font-size: 1.2rem;
	margin-left: $header-spacing / 2;
	font-weight: normal;
	color: $primary;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	@include text-shadow;
	@include mobile-all-portrait {
		white-space: pre-wrap;
		font-size: 1rem;
		margin-left: 0;
	}
}

.name {
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	width: 100%;
	overflow-wrap: break-word;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: bold;
	font-size: 3rem;

	&Large {
		font-size: 2.5rem;
	}

	&Medium {
		font-size: 2rem;
	}

	&Small {
		font-size: 1.5rem;
	}

	@include text-shadow;
	@include mobile-all-portrait {
		text-align: center;
		overflow: hidden;
		word-wrap: nowrap;
		text-overflow: ellipsis;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 1vw;

		&Large {
			font-size: 22px;
		}
	
		&Medium {
			font-size: 20px;
		}
	
		&Small {
			font-size: 18px;
		}
	}
}
